.container{
    overflow: auto;
    position: relative;
}

.bottomContainer {
  flex-grow: 1;
  background-color: var(--mobileBg1);
}

.footerContainer{
    display: flex;
    justify-content: center;
    align-items: center; 
    position: absolute;
    width: var(--fullWidth, 100%);
    bottom: 0px;
}