.mainContainer {
  padding: var(--paddingSmall) var(--paddingMedium) var(--paddingMedium)
    var(--paddingMedium);
  gap: var(--gapSmall);
  background-color: var(--blueBg);
}

.customContainerStyles {
  border-radius: var(--radiusMLg);
  overflow: hidden;
  flex: 1;
  width: var(--fullWidth);
  flex-direction: column;
  justify-content: space-between;
  display: flex;
}

.box {
  width: var(--fullWidth);
  height: var(--fullHeight);
  display: flex;
  justify-content: center;
  align-items: center;
}

.asc {
  transform: rotate(0deg);
}

.desc {
  transform: rotate(180deg);
}

.active {
  background-color: var(--lightGrey3Bg);
  border-radius: 50%;
}
