.sideMenuContainer {
  height: var(--fullHeight, 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.sideMenuTopSection {
  width: var(--fullWidth, 100%);
}

.sideMenuBottomSection {
  width: var(--fullWidth, 100%);
  background: var(--sideMenuColor, #141b43);
  color: var(--textPrimary, #fff);
  justify-content: space-between;
  padding: var(--sizeXXSmall, 12px) var(--sizeXSmall, 12px);
  cursor: pointer;
}

.sideMenuOptionsContainer {
  margin-top: var(--sizeXSmall, 12px);
  font-size: var(--fontSizeNormal, 16px);
  font-weight: var(--fontWeightMedium, 500);
}

.appLogoContainer {
  padding: var(--padding_18);
  cursor: default;
}

.appLogoBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobileAppLogo {
  margin: var(--sizeLarge, 18px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.appLogo {
  cursor: pointer;
}

.moduleSelector {
  font-size: var(--fontSizeXSmall, 12px);
  color: var(--textPrimary, #fff);
  background: #141b43;
  padding: var(--sizeXSmall, 12px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--moduleSelectorBorder, #ffffff4d);
  overflow-x: hidden;
}

.menuItemContainer {
  font-weight: var(--fontWeightMedium, 500);
}

.moduleSelectorHeading {
  font-size: var(--fontSizeSmall, 14px);
  font-weight: var(--fontWeightMedium, 500);
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 10vw;
  white-space: nowrap;
}

.moduleList {
  font-size: var(--fontSizeSmall, 14px);
  width: var(--fullWidth, 100%);
  color: var(--textPrimary, #fff);
  font-weight: var(--fontWeightMedium, 500);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  list-style: none;
  cursor: pointer;
}

.moduleListItem {
  padding: var(--sizeXSmall, 12px);
  width: var(--fullWidth, 100%);
  &.disabled {
    color: grey;
    cursor: not-allowed;
  }
  &:not(.disabled):hover {
    border-left: 2px solid #fff;
    background-color: #141b43;
  }
}

.moduleSubMenuList {
  list-style: none;
  width: var(--fullWidth, 100%);
  overflow: hidden;
}
.sectionHeading {
  font-size: var(--fontSizeSmall, 14px);
  font-weight: var(--fontWeightMedium, 500);
  color: var(--subHeadingColor, #616c82);
  margin: var(--margin_12, 12px);
}

.visitText {
  max-width: 8vw;
  overflow: hidden;
  text-overflow: ellipsis;
}

.moduleListContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: var(--fullWidth, 100%);
}

.visitContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gapSmallMedium);
}

.imageItemLogo {
  width: var(--fullWidth, 100%);
  justify-content: space-between;
  padding: var(--paddingMedium, 16px) var(--paddingMedium, 16px);
}

.moduleText {
  font-size: var(--fontSizeSmall, 14px);
  color: var(--subHeadingColor, #616c82);
  padding: var(--paddingMedium, 16px);
  padding-bottom: var(--paddingExtraSmall, 8px);
}
.sessionContainer{
  margin-bottom: var(--marginLarge, 24px);
}

@media (max-width: 767px) {
  .moduleSelectorHeading {
    max-width: var(--widthHalfViewPort, 50vw);
  }
  .visitText {
    max-width: var(--widthHalfViewPort, 50vw);
  }
}

@media (max-width: 1000px) and (min-width: 767px) {
  .globeIcon {
    display: none;
  }
}
