.sideMenuContainer {
  min-height: var(--fullHeight, 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  background-color: var(--blackBg, #000833);
}

.sideMenuTopSection {
  width: var(--fullWidth, 100%);
}

.sideMenuBottomSection {
  width: var(--fullWidth, 100%);
  min-height: var(--height_68, 68px);
  background-color: var(--darkBlueBg, #141b43);
  color: var(--textPrimary, #fff);
  justify-content: space-between;
  padding: var(--sizeXXSmall, 12px) var(--sizeXSmall, 12px);
  cursor: pointer;
}

.sideMenuOptionsContainer {
  font-size: var(--fontSizeNormal, 16px);
  font-weight: var(--fontWeightMedium, 500);
  overflow-y: auto;
  padding: var(--paddingMedium, 24px) var(--paddingMediumSmall, 12px) var(--paddingSmall, 16px);
  background-color: var(--blackBg, #000833);
}

.menuItemsContainer ul li{
  padding: var(--paddingNone, 0px) var(--paddingSmall, 16px);
  min-height: var(--height_50, 50px);
}

.appLogoContainer {
  padding: var(--padding_18);
  cursor: default;
}

.appLogoBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobileAppLogo {
  margin: var(--sizeLarge, 18px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.appLogo {
  cursor: pointer;
}

.moduleSelector {
  font-size: var(--fontSizeXSmall, 12px);
  color: var(--textPrimary, #fff);
  background-color: var(--darkBlueBg, #141b43);
  padding: var(--sizeXSmall, 12px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--moduleSelectorBorder, #ffffff4d);
  overflow-x: hidden;
  min-height: var(--btnHeight, 56px);
}

.menuItemContainer {
  font-weight: var(--fontWeightMedium, 500);
}

.moduleSelectorHeading {
  font-size: var(--fontSizeSmall, 14px);
  font-weight: var(--fontWeightMedium, 500);
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: var(--widthViewPort_16);
  white-space: nowrap;
}

.moduleList {
  font-size: var(--fontSizeSmall, 14px);
  width: var(--fullWidth, 100%);
  color: var(--textPrimary, #fff);
  font-weight: var(--fontWeightMedium, 500);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  list-style: none;
  cursor: pointer;
}

.moduleListItem {
  padding: var(--sizeXSmall, 12px);
  width: var(--fullWidth, 100%);
  &.disabled {
    color: grey;
    cursor: not-allowed;
  }
  &:not(.disabled):hover {
    border-left: 2px solid #fff;
    background-color: var(--darkBlueBg, #141b43);
  }
}

.moduleSubMenuList {
  list-style: none;
  width: var(--fullWidth, 100%);
  overflow: hidden;
}

.visitText {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--greyText);
}

.moduleListContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: var(--fullWidth, 100%);
}

.visitContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageItemLogo {
  width: var(--fullWidth, 100%);
  justify-content: space-between;
  padding: var(--paddingMedium, 16px) var(--paddingMedium, 16px);
}

.moduleText {
  font-size: var(--fontSizeSmall, 14px);
  color: var(--subHeadingColor, #616c82);
  padding: var(--paddingMedium, 16px);
  padding-bottom: var(--paddingExtraSmall, 8px);
}

.globeIcon{
  color: var(--greyText);
}

.arrowIcon{
  color: var(--greyText, #ccd0e5);
}

@media (max-width: 1523px) {
  .sideMenuBottomSection {
    padding: var(--paddingXXSmall, 4px) var(--paddingMedium, 12px)
      var(--paddingXXSmall, 4px) var(--paddingXXSmall, 4px);
  }

  .imageItemLogo {
    padding: var(--paddingMediumSmall, 12px);
    padding-left: var(--paddingMedium, 24px);
  }
}

@media (max-width: 1279px) {
  .menuItemsContainer {
    overflow-y: auto;
  }
}

@media (max-width: 767px) {
  .moduleSelectorHeading {
    max-width: var(--widthViewPort_65, 65vw);
  }

  .visitText {
    max-width: var(--widthHalfViewPort, 50vw);
  }

  .width40 {
    width: var(--width_40, 40px);
  }

  .imageItemLogo {
    padding: 0px;
    padding-left: var(--paddingMedium, 24px);
  }

  .moduleText {
    padding: 0px;
    padding-left: var(--paddingMediumSmall, 12px);
  }

  .menuItemsContainer {
    overflow-y: auto;
  }
}
