.sideMenuContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
}
.sideMenuTopSection {
  width: 100%;
}
.sideMenuBottomSection {
  width: 100%;
  background: var(--sideMenuColor, #141b43);
  color: var(--textPrimary, #fff);
  justify-content: space-between;
  padding: var(--sizeXXSmall, 8px) var(--sizeXSmall, 12px);
}
.sideMenuOptionsContainer {
  margin-top: var(--sizeXSmall, 12px);
  font-size: var(--fontSizeNormal, 16px);
  font-weight: var(--fontWeightMedium, 500);
}
.appLogo {
  margin: var(--sizeLarge, 18px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.menuItemContainer {
  font-weight: var(--fontWeightMedium, 500);
}
.moduleList {
  font-size: var(--fontSizeSmall, 14px);
  width: 100%;
  color: var(--textPrimary, #fff);
  font-weight: var(--fontWeightMedium, 500);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  list-style: none;
  cursor: pointer;
}

.moduleListItem {
  padding: var(--sizeXSmall, 12px);
  width: 100%;
  &.disabled {
    color: grey;
    cursor: not-allowed;
  }
  &:not(.disabled):hover {
    border-left: 2px solid #fff;
    background-color: #141b43;
  }
}
.moduleSubMenuList {
  list-style: none;
  width: 100%;
  overflow: hidden;
}
.sectionHeading {
  font-size: var(--fontSizeSmall, 14px);
  font-weight: var(--fontWeightMedium, 500);
  color: var(--subHeadingColor, #616C82);
  margin: var(--margin_12, 12px);
}
