.container {
  position: relative;
}

.cardParentContainer {
  position: absolute;
  left: 0px;
  top: 55px;
  z-index: 100000000;
  background-color: var(--bodyBg);
  border: var(--borderLight);
  border-radius: var(--radiusMLg);
  overflow: hidden;
}

.filterContainer {
  min-width: var(--widthViewPort_30);
  min-height: var(--height_250);
  max-height: var(--height_600);
  border: 0;
}

.filterBtn {
  padding: var(--paddingSmall);
  gap: var(--gapXSmall);
  display: flex;
  min-height: var(--height_48);
  align-items: center;
  justify-content: center;
  border: var(--borderLight);
  &:hover {
    border: var(--borderLight) !important;
  }
}

.filterBtnText {
  color: var(--textBold);
  font-size: var(--fontSizeSmall);
  font-weight: var(--fontWeightMedium);
}

.active {
  background-color: var(--lightBlueBg) !important;
}

.filterOption {
  display: flex;
  justify-content: space-between;
  gap: var(--gapSmallMedium);
  background-color: var(--bodyBg);
  padding: var(--fontSizeNormal);
  cursor: pointer;
}

.filterTextAndCheckContainer {
  min-width: fit-content;
  display: flex;
  gap: var(--gapSmallMedium);
  align-items: center;
}

.filterRightArrow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filterOptionText {
  color: var(--textBold);
  font-size: var(--fontSizeSmall);
  font-weight: var(--fontWeightMedium);
  white-space: nowrap;
  max-width: var(--width_200);
  overflow: hidden;
  text-overflow: ellipsis;
}

.filterSecondLevelOption {
  display: flex;
  gap: var(--gapXSmall);
  padding: var(--paddingSmall) var(--paddingMediumSmall2);
  align-items: center;
  cursor: pointer;
}

.footerBtnContainer {
  display: flex;
  padding: var(--paddingExtraSmall);
  justify-content: flex-end;
  align-items: center;
  gap: var(--gapSmall);
}

.cancelBtn {
  padding: var(--paddingExtraSmall) var(--paddingMediumSmall);
  color: var(--textBold);
  font-size: var(--fontSizeSmall);
  font-weight: var(--fontWeightMedium);
  background-color: var(--bodyBg);
  min-height: var(--minBtnHeight);
  border-radius: var(--radiusXLg);
  border: var(--borderLight);
  &:hover {
    border: var(--borderLight) !important;
    color: var(--textBold) !important;
  }
}

.showResultBtn {
  padding: var(--paddingExtraSmall) var(--paddingSmall);
  min-height: var(--minBtnHeight);
}

.clearAllBtn {
  color: var(--textBold);
  font-size: var(--fontSizeSmall);
  font-weight: var(--fontWeightMedium);
  &:hover {
    color: var(--textBold) !important;
  }
  span {
    text-decoration: underline !important;
  }
}

.optionsContainer {
  max-height: var(--height_250);
  overflow: auto;
}

.filterOptionContainer{
  min-height: var(--height_250);
}

@media screen and (max-width: 1279px) {
  .filterOptionContainer {
    flex-direction: column;
  }
}
