.container {
  position: relative;
}

.cardParentContainer {
  position: absolute;
  left: 0px;
  top: 55px;
  z-index: 100000000;
  background-color: var(--bodyBg);
  border: var(--borderLight);
  border-radius: 16px;
  overflow: hidden;
}

.filterContainer {
  min-width: 30vw;
  min-height: 200px;
  max-height: 600px;
  border: 0;
}

.filterBtn {
  padding: var(--paddingSmall);
  gap: var(--gapXSmall);
  display: flex;
  min-height: 48px;
  align-items: center;
  justify-content: center;
  border: var(--borderLight);
  &:hover {
    border: var(--borderLight) !important;
  }
  border-radius: var(--radiusLg);
}

.filterBtnText {
  color: var(--textBold);
  font-size: var(--fontSizeSmall);
  font-weight: var(--fontWeightMedium);
  align-self: 'center';
}

.active {
  background-color: var(--lightBlueBg);
}

.filterOption {
  display: flex;
  justify-content: space-between;
  gap: var(--gapSmallMedium);
  background-color: var(--lightBlueBg);
  padding: var(--fontSizeNormal);
  cursor: pointer;
  line-height: 20px;
}

.iconStyle {
  display: flex;
}

.arrowStyle {
  height: '16px';
  width: '16px';
}

.filterTextAndCheckContainer {
  min-width: fit-content;
  display: flex;
  gap: var(--gapSmallMedium);
  align-items: center;
}

.filterRightArrow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filterOptionText {
  color: var(--textBold);
  font-size: var(--fontSizeSmall);
  font-weight: var(--fontWeightMedium);
  white-space: nowrap;
  width: 10vw;
  overflow: hidden;
  text-overflow: ellipsis;
}

.leftFilterOptionText {
  color: var(--textBold);
  font-size: var(--fontSizeSmall);
  font-weight: var(--fontWeightMedium);
  white-space: nowrap;
  width: 10vw;
  overflow: hidden;
  text-overflow: ellipsis;
}

.filterSecondLevelOption {
  display: flex;
  gap: var(--gapXSmall);
  padding: var(--paddingSmall) 14px;
  align-items: center;
  cursor: pointer;
}

.footerBtnContainer {
  display: flex;
  padding: var(--paddingSmall);
  justify-content: flex-end;
  align-items: center;
  gap: var(--gapSmall);
}

.cancelBtn {
  padding: var(--paddingExtraSmall) 12px;
  color: var(--textBold);
  font-size: var(--fontSizeSmall);
  font-weight: var(--fontWeightMedium);
  background-color: var(--bodyBg);
  min-height: var(--height_36);
  border-radius: var(--radiusLg);
  border: var(--borderLight);
  &:hover {
    border: var(--borderLight) !important;
    color: var(--textBold) !important;
  }
}

.showResultBtn {
  padding: var(--paddingExtraSmall) var(--paddingSmall);
  min-height: var(--height_36);
}

.clearAllBtn {
  color: var(--textBold);
  font-size: var(--fontSizeSmall);
  font-weight: var(--fontWeightMedium);
  padding: var(--paddingNone);
  &:hover {
    color: var(--textBold) !important;
  }
  span {
    text-decoration: underline !important;
  }
}

.countFilterStyle {
  color: var(--bodyBg);
  font-weight: var(--fontWeightBold);
  font-size: var(--fontSizeExtraSmall);
  background-color: var(--greenBtnBg);
  border-radius: 15px;
  align-items: center !important;
  justify-content: center !important;
  padding: 1px;
  align-self: center;
  align-content: center;
  height: var(--height_20);
  width: var(--width_20);
}

.buttonTextStyle {
  font-size: var(--fontSizeSmall);
  font-weight: var(--fontWeightMedium);
}

@media screen and (max-width: 900px) and (min-width: 510px) {
  .cardParentContainer {
    left: -100px;
  }
}

@media screen and (max-width: 767px) {
  .filterContainer {
    min-width: 60vw;
  }
  .filterOptionText {
    width: 28vw;
  }
  .leftFilterOptionText {
    width: 19vw;
  }
}
