.container {
  display: flex;
  flex-direction: column;
  gap: var(--gapXLarge);
}

.heading {
  color: var(--subHeadingColor);
  font-size: var(--fontSizeNormal);
  font-weight: var(--fontWeightMedium);
}

.subHeading {
  color: var(--textBold);
  font-size: var(--fontSizeSmall);
  font-weight: var(--fontWeightMedium);
}

.requiredStar {
  color: var(--error);
}

.otpFieldsAndButtonContainer {
  display: flex;
  flex-direction: column;
  gap: 76px;
}

.input {
  display: flex;
  padding: var(--paddingSmall);
  min-height: 56px;
  max-width: none !important;
  flex: 1;
  font-size: var(--fontSizeXlarge);
  font-weight: var(--fontWeightMedium);
  color: var(--inputText);
  border-radius: var(--radiusXLg);
  border: var(--borderLight);
  background: var(--bodyBg);
}

.subHeadingContainer {
  display: flex;
  gap: var(--gapXXSmall);
}

.inputContainer {
  display: flex;
  gap: var(--gapSmall);
}

.box {
  display: flex;
  gap: var(--gapXSmall);
  justify-content: center;
  align-items: center;
}

.sendAgainTextAndTimerContainer {
  display: flex;
  gap: 2px;
  justify-content: flex-start;
  align-items: center;
}
.timer {
  padding-top: var(--padding_14);
}

.receivedOTP {
  color: var(--subHeadingColor);
  font-size: var(--fontSizeSmall);
  font-weight: var(--fontWeightMedium);
}

.sendAgainText {
  color: var(--disableBtn);
  font-size: var(--fontSizeSmall);
  font-weight: var(--fontWeightBold);
  padding: 0px !important;
  &:hover {
    color: var(--disableBtn) !important;
  }
}

.sendAgainText[disabled] {
  color: var(--disableLink) !important;
}

.active {
  color: var(--linkColor);
  font-size: var(--fontSizeSmall);
  font-weight: var(--fontWeightBold);
  &:hover {
    color: var(--linkColor) !important;
  }
}

.fourteenMinCounterContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subHeadingAndInputContainer {
  display: flex;
  flex-direction: column;
  gap: var(--gapSmall);
}

.fourteenMinCounterBottomContainer {
  display: flex;
  gap: var(--gapXSmall);
}

.emailCheckStyle {
  margin-top: var(--marginMedium);
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

@media screen and (max-width: 511px) {
  .otpFieldsAndButtonContainer {
    flex: 1;
    justify-content: space-between;
  }
  .container {
    padding: var(--paddingSmall);
  }
}

@media screen and (max-width: 767px) {
  .emailCheckStyle {
    flex-direction: column;
    align-items: start;
  }
}
