.headerBox {
  border-top: var(--borderLight);
  border-bottom: var(--borderLight);
  width: var(--fullWidth);
  padding: var(--paddingMedium);
}

.ClassForText{
    font-size: var(--fontSizeSmall);
    font-weight: var(--fontWeightMedium);
}