.headerBox {
  border-top: var(--borderLight);
  border-bottom: var(--borderLight);
  width: var(--fullWidth);
  padding: var(--paddingMedium);
}

.ClassForText{
    font-size: var(--fontSizeSmall);
    font-weight: var(--fontWeightMedium);
}

.asc {
  transform: rotate(0deg);
}

.desc {
  transform: rotate(180deg);
}

.active {
  background-color: var(--lightGrey3Bg);
  border-radius: 50%;
}

.errorMessageContainer{
  display: flex;
  flex:1;
  justify-content: center;
  align-items: center;
}