.container {
  display: flex;
  flex-direction: column;
  padding-bottom: var(--paddingMedium);
  width: 100%;
  height: 100%;
}

.headerContainer {
  padding: var(--paddingMedium);
  border: var(--borderLight);
  width: 100%;
}

.btnIconStyles {
  width: 24px !important;
}

.btnCustomStyles {
  padding: var(--paddingSmall) 12px;
  border-radius: 12px;
  font-size: var(--fontSizeSmall);
  font-weight: var(--fontWeightMedium);
  background-color: var(--bodyBg) !important;
  color: var(--textBold);
  &:hover {
    background-color: var(--bodyBg) !important;
    color: var(--textBold) !important;
  }
}

.activeSwitchAndBtnContainer {
  display: flex;
  gap: var(--gapMedium);
  align-items: center;
}

.switchAndTextContainer {
  display: flex;
  gap: var(--gapSmall);
  align-items: center;
}

.text {
  color: var(--textBold);
  font-size: var(--fontSizeSmall);
  font-weight: var(--fontWeightMedium);
}

.switchBgColor {
  background-color: var(--active2) !important;
}

.bottomContainer {
  flex: 1;
  padding: var(--paddingMedium);
  display: flex;
  flex-direction: column;
  gap: var(--gapMedium);
}

.saveAndCancelBtnContainer {
  display: flex;
  gap: var(--gapSmall);
  padding: 0px var(--paddingSmall);
  justify-content: flex-end;
}

.saveBtn {
  font-size: (--fontSizeSmall);
  font-weight: var(--fontWeightMedium);
  &:hover {
    border: var(--borderLight) !important;
  }
}

.cancelBtn {
  display: flex;
  padding: 12px var(--paddingSmall);
  justify-content: center;
  align-items: center;
  gap: var(--gapXSmall);
  min-height: 56px;
  color: var(--textBold);
  font-size: var(--fontSizeSmall);
  font-weight: var(--fontWeightMedium);
  border: var(--borderLight);
  &:hover {
    color: var(--textBold) !important;
    border: var(--borderLight) !important;
  }
}

@media screen and (max-width: 511px) {
  .activeSwitchAndBtnContainer {
    flex-direction: column;
    align-items: flex-end;
  }
  .cancelBtn,
  .saveBtn {
    min-height: 48px;
  }
}
