.container {
  flex-direction: column;
  gap: 32px;
}

.heading {
  color: var(--textBold, #000833);
  font-size: var(--fontSizeXlarge, 20px);
  font-weight: var(--fontWeightBold, 600);
}

.image {
  width: 50px;
  height: 50px;
}

.subHeading {
  color: var(--subHeadingColor, #616c82);
  font-size: var(--fontSizeSmall, 14px);
  font-weight: var(--fontWeightMedium, 500);
}

.headingAndSubHeadingContainer {
  display: flex;
  flex-direction: column;
  gap: var(--gapXSmall, 8px);
}

.imageAndHeadingContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.btn {
  padding: 12px var(--paddingSmall, 16px);
  gap: var(--gapSmallMedium, 12px);
  font-size: var(--fontSizeSmall, 14px);
  font-weight: var(--fontWeightMedium, 500);
}

.actionBtnContainer {
  width: var(--fullWidth, 100%);
}

.modal {
  top: 30%;
}

.btnContainer {
  width: var(--fullWidth, 100%);
  display: flex;
  gap: var(--gapSmall, 16px);
}

.cancelBtn {
  min-height: var(--btnHeight, 56px);
  font-size: var(--fontSizeSmall, 14px);
  font-weight: var(--fontWeightMedium, 500);
  &:hover {
    color: var(--textBold, #000833) !important;
    border: "1px solid #ccd0e5" !important;
  }
}

.hide{
  display: none !important;
}