.container {
  display: flex;
  width: var(--fullWidth);
  padding: var(--paddingMedium);
  border-top: var(--borderLight);
  border-bottom: var(--borderLight);
}

.buttonStyles {
  min-width: var(--width_48, 48px);
  min-height: var(--minBtnHeight);
}

.pending_bg {
  background-color: var(--orangeBg);
}

.pending_color {
  color: var(--orangeText);
}

.progress_bg {
  background-color: var(--blueBg2);
}

.progress_color {
  color: var(--blueText);
}

.success_bg {
  background-color: var(--greenBg);
}

.success_color {
  color: var(--greenText);
}

.btn {
  min-height: var(--height_44, 44px);
  padding: var(--paddingMediumSmall, 12px) var(--paddingSmall, 16px);
}
