.container {
  display: flex;
  width: var(--fullWidth);
  padding: var(--paddingMedium);
  border-top: var(--borderLight);
  border-bottom: var(--borderLight);
}

.buttonStyles {
  padding: var(--paddingExtraSmall);
  min-height: var(--minBtnHeight);
}
