.button {
  color: var(--greenBtnBg, #04af55);
}

.disableButton {
  color: var(--subHeadingColor, #616c82);
}

.label{
  color: var(--subHeadingColor);
  font-size: var(--fontSizeExtraSmall);
  font-weight: var(--fontWeightMedium);
}

.container{
  display: flex;
  align-items: center;
}
