.container {
  display: flex;
  flex-direction: column;
  flex-grow: unset;
  align-content: flex-start;
}

.inputLabelContainer {
  display: flex;
  gap: var(--gapXXSmall, 4px);
  padding-bottom: var(--paddingXXSmall, 4px);
}

.timeInput {
  min-height: var(--height_44, 44px);
  background-color: var(--bodyBg, #ffffff);
  border: var(--borderLight, 1px solid #ccd0e5);
}

.errorText {
  color: var(--error, #D93400);
  font-weight: var(--fontWeightMedium, 500);
  font-size: var(--fontSizeExtraSmall, 12px);
  margin-top: var(--marginXXSmall, 4px);
}

.dateText {
  color: var(--textBold, #000833);
  font-weight: var(--fontWeightMedium, 500);
  font-size: var(--fontSizeSmall, 14px);
}
