// TODO: use var here
.mainContainer {
  margin: 24px;
  background-color: white;
  border-radius: 20px;
  border-color: lightGrey;
  border-width: 1px;
  min-width: 240px;
}

.profileImageStyle {
  height: 50px;
  width: 50px;
}

.imageContainerStyle {
  background-color: white;
  border-radius: 200px;
  border-width: 0;
  align-items: flex-start;
}

.topSectionStyle {
  gap: 5px;
  border-bottom-width: 0.5px;
  padding: 16px;
  border-color: lightGrey;
}

.middleSectionStyle {
  padding: 16px;
  border-color: lightGrey;
  border-bottom-width: 0.5px;
  gap: 16px;
}

.bottomSectionStyle {
  padding: 16px;
}

.itemContainerStyle {
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.imageStyle {
  height: 15px;
  width: 15px;
  cursor: pointer;
}

.boldText {
  color: black;
  font-size: 16px;
  font-weight: 600;
}

.normalText {
  color: red;
  font-size: 14px;
  font-weight: 500;
}

.normalBlackText {
  color: black;
  font-size: 14px;
  font-weight: 500;
}
