.container {
  padding: var(--paddingMedium);
  background-color: var(--bodyBg);
  display: flex;
  flex-direction: column;
  gap: var(--gapLarge);
  border-radius: var(--radiusXLg);
  width: 35vw;
  max-width: 500px;
  border: var(--borderLight);
}

.topSection {
  display: flex;
  flex-direction: column;
  gap: var(--gapMedium);
}

.errorIcon {
  width: 48px;
  height: 48px;
}

.headingAndSubHeadingContainer {
  display: flex;
  flex-direction: column;
  gap: var(--gapXSmall);
}

.errorHeading {
  color: var(--textBold);
  font-size: var(--fontSizeXlarge);
  font-weight: var(--fontWeightBold);
}

.errorSubHeading {
  color: var(--subHeadingColor);
  font-size: var(--fontSizeSmall);
  font-weight: var(--fontWeightMedium);
}

.btn {
  background-color: var(--error);
  min-height: 50px;

  color: var(--headerBg);
  font-size: var(--fontSizeSmall);
  font-weight: var(--fontWeightMedium);

  display: flex;
  padding: var(--paddingMediumSmall) var(--paddingSmall);
  justify-content: center;
  align-items: center;
  gap: var(--gapXSmall);
  flex: 1 0 0;
  border-radius: var(--radiusLg);

  &:hover {
    color: var(--headerBg) !important;
  }
}

@media screen and (max-width: 767px) {
  .btn {
    min-height: 32px;
    font-size: var(--fontSizeExtraSmall);
  }

  .errorHeading {
    font-size: var(--fontSizeNormal);
  }

  .errorSubHeading {
    font-size: var(--fontSizeExtraSmall);
  }

  .container {
    padding: var(--paddingSmall);
    width: 65vw;
  }
}
