.topSectionStyle {
  padding-top: var(--gapMedium);
  padding-bottom: var(--gapMedium);
  padding-left: var(--gapMedium);
  padding-right: var(--gapMedium);
  border-bottom: var(--borderLight);
  border-top: var(--borderLight);
  background-color: var(--bodyBg);
  gap: var(--gapMedium);
}

.customStyles {
  justify-content: space-between;
  font-size: var(--fontSizeXlargeMedium);
}

.mainContainer {
  background-color: var(--blueBg);
  padding-bottom: var(--gapMedium);
}

.candidateContentSection {
  padding: 0 var(--paddingMedium);
}

.campusInterviewHeader {
  max-width: var(--fullWidth);
}

.errorContainer{
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
