.loginForm {
  display: flex;
  flex-direction: column;
  gap: 56px;
  width: 100%;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
}

.inputAndBtnContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
}

.inputLabel {
  color: var(--inputLabel);
  font-size: 14px;
  font-weight: 500;
}

.forgotLink {
  color: var(--forgotLink);
  font-size: 14px;
  font-weight: 600;
  &:hover {
    color: var(--forgotLink) !important;
  }
}

.loginBtn {
  background: var(--greenBtnBg);
  border-radius: 8px;
  color: var(--btnText);
  font-size: 16px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 17px 32px;
  min-height: 56px;
  &:hover {
    background: var(--greenBtnBg) !important;
  }
}

.loginBtn[disabled] {
  background: var(--disableBtn) !important;
  color: var(--btnText);
}

.rememberMeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.rememberMeText {
  color: var(--checkBoxText);
  font-size: 14px;
  font-weight: 500;
}

.rememberMeImage {
  width: 20px;
}

.forgotLinkAndRememberMeContainer {
  display: flex;
  justify-content: space-between;
}

.input {
  color: var(--inputText);
  font-size: 16px;
  font-weight: 500;
  padding: 16px;
  border-radius: 12px;
  border: 1px solid var(--borderColor);
  background-color: var(--bodyBg);
}

@media (max-width: 511px) {
  .loginForm {
    gap: 40px;
  }
  .inputAndBtnContainer {
    flex: 1;
  }
  .inputAndBtnContainer {
    background-color: var(--loginMobileBg);
    padding: 24px 16px 32px 16px;
  }
  .borderForMobileScreens {
    border-top-width: 2px;
    border-top-style: solid;
    border-color: var(--borderColor);
    padding-top: 24px;
  }
}
