.customStyle {
  row-gap: var(--gapSmall, 16px);
}

.customLabelStyles {
  font-size: var(--fontSizeExtraSmall, 12px);
  font-weight: var(--fontWeightMedium, 500);
  color: var(--inputPlaceHolder, #616c82);
}

.customValueStyles {
  font-size: var(--fontSizeSmall, 14px);
  font-weight: var(--fontWeightMedium, 500);
  color: var(--textBold, #000833);
}

.customHeaderStyles {
  font-size: var(--fontSizeNormal, 16px);
  font-weight: var(--fontWeightBold, 600);
  color: var(--textBold, #000833);
}

.singleGrid {
  grid-template-columns: unset;
  background-color: "red";
}
.logoStyle {
  padding-top: var(--marginMedium, 16px);
}

.customInputNumberStyles {
  color: var(--textBold) !important;
  font-size: var(--fontSizeSmall);
  padding: 8px 4px;
  height: var(--height_44);
  font-weight: var(--fontWeightMedium);
  border-radius: var(--radiusLg);
  border: var(--borderLight);
  background-color: var(--bodyBg);
  &::placeholder {
    color: var(--inputPlaceHolder) !important;
  }
}
.customInputStyles {
  color: var(--textBold) !important;
  font-size: var(--fontSizeSmall);
  height: var(--height_44);
  font-weight: 400;
  border-radius: var(--radiusLg);
  border: var(--borderLight);
  background-color: var(--bodyBg);
  &::placeholder {
    color: var(--v) !important;
  }
}

.gridItem {
  grid-column: 1 / -1;
}

.customChipContainerStyles {
  background-color: var(--snow);
}

.chipContainer {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gapXSmall);
}

.capitalize {
  text-transform: capitalize;
}

.customLabelStyles {
  color: var(--inputPlaceHolder);
  font-size: var(--fontSizeSmall);
  font-weight: var(--fontWeightMedium);
}
