.mainContainer {
}

.customStyle {
  row-gap: var(--gapSmall);
}

.customLabelStyles {
  font-size: var(--fontSizeExtraSmall);
  font-weight: var(--fontWeightMedium);
  color: var(--inputPlaceHolder);
}

.customValueStyles {
  font-size: var(--fontSizeSmall);
  font-weight: var(--fontWeightMedium);
  color: var(--textBold);
}

.customHeaderStyles {
  font-size: var(--fontSizeNormal);
  font-weight: var(--fontWeightBold);
  color: var(--textBold);
}

.singleGrid {
  grid-template-columns: unset;
  background-color: "red";
}
.logoStyle {
  padding-top: var(--marginMedium);
}

.customInputNumberStyles {
  padding-top: 5px;
}

.gridItem {
  grid-column: 1 / -1;
}

.customChipContainerStyles {
  background-color: var(--snow);
}

.chipContainer {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gapXSmall);
}
