.baseLayout {
  padding-left: 0px;
  padding-right: 0px;
}

.customHeaderStyling {
  padding: var(--paddingMedium);
  padding-bottom: 0px;
}

.configureCentreContentWrapper {
  background-color: var(--blueBg);
  width: var(--fullWidth);
  padding: var(--paddingMedium);
}

.tabContainer {
  margin-top: var(--padding_30);
}
