.baseLayout {
    padding-left: var(--paddingNone);
    padding-right: var(--paddingNone);
  }
  
  .headerContainer {
    padding: var(--paddingMedium);
    width: var(--fullWidth);
  }
  
  .btnCustomStyles {
    padding: var(--paddingSmall) var(--paddingMediumSmall);
    border-radius: var(--radiusXLg);
    font-size: var(--fontSizeSmall) !important;
    font-weight: var(--fontWeightMedium) !important;
  }
  
  .btnIconStyles {
    width: var(--width_24) !important;
  }
  
  .filterAndTableContainer {
    background-color: var(--blueBg);
    width: var(--fullWidth);
    display: flex;
    flex-direction: column;
    gap: var(--gapSmall);
    padding: var(--paddingMedium);
    flex: 1;
  }
  
  .searchIcon {
    width: var(--width_30);
    height: var(--height_30);
    padding-right: var(--paddingExtraSmall);
    padding-bottom: var(--paddingXXSmall);
  }
  
  .eyeIcon {
    cursor: pointer;
  }
  
  .editIcon {
    cursor: pointer;
  }
  
  .searchBar {
    width: var(--width_30Per);
    min-height: var(--minBtnHeight);
    border-radius: var(--radiusXLg);
    input {
      color: var(--inputText) !important;
      font-size: var(--fontSizeSmall) !important;
      font-weight: var(--fontWeightMedium) !important;
    }
  }
  
  input::placeholder {
    color: var(--inputPlaceHolder) !important;
  }
  
  .searchBarContainer {
    display: flex;
    justify-content: start;
    gap: var(--gapSmall);
    position: relative;
  }
  
  .switchBgColor {
    background-color: var(--active2) !important;
  }
  
  .boldText {
    font-weight: var(--fontWeightBold);
  }
  
  .textEllipsis {
    max-width: var(--width_200);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  
  .columnHeading {
    color: var(--subHeadingColor);
    font-size: var(--fontSizeExtraSmall);
    font-weight: var(--fontWeightMedium);
  }
  
  .userStatusContainer {
    display: flex;
    gap: var(--gapXSmall);
  }
  
  .padding {
    padding: var(--paddingMedium);
  }
  
  @media screen and (max-width: 1535px) {
    .headerResponsiveStyle {
      font-size: var(--fontSizeXXlarge);
    }
    .btnCustomStyles {
      font-size: var(--fontSizeExtraSmall);
    }
  }
  
  @media screen and (max-width: 1023px) {
    .searchBar {
      width: var(--halfWidth);
    }
  }
  
  @media screen and (max-width: 767px) {
    .headerResponsiveStyle {
      font-size: var(--fontSizeXlargeMedium);
    }
    .btnCustomStyles {
      min-height: var(--minBtnHeight);
    }
  }
  
  @media screen and (max-width: 511px) {
    .searchBarContainer {
      flex-direction: column;
    }
    .searchBar {
      width: var(--fullWidth);
      min-height: var(--height_50);
    }
    .filterBtn {
      max-width: var(--width_100);
      align-self: flex-end;
    }
  }
  