.container {
  flex-direction: column;
  gap: var(--gapXXLarge);
}

.fieldsContainer {
  display: flex;
  flex-direction: column;
  gap: var(--gapLarge);
}

.inputAndPointsContainer {
  display: flex;
  flex-direction: column;
  gap: var(--gapLarge);
}

.inputLabel {
  color: var(--inputLabel);
  font-size: var(--fontSizeSmall);
  font-weight: var(--fontWeightMedium);
}

.input {
  color: var(--inputText);
  font-size: var(--fontSizeNormal);
  font-weight: var(--fontWeightMedium);
  padding: var(--paddingSmall);
  border-radius: var(--radiusXLg);
  border: var(--borderLight);
  background-color: var(--bodyBg);
}

.passwordPointsHeading {
  color: var(--textBold);
  font-size: var(--fontSizeSmall);
  font-weight: var(--fontWeightMedium);
}

.errorText {
  font-size: var(--fontSizeSmall);
  font-weight: var(--fontWeightMedium);
  color: var(--error);
  padding-bottom: var(--paddingExtraSmall);
}

.successText{
  color: var(--successText);
}

@media (max-width: 511px) {
  .fieldsContainer {
    flex: 1;
    background-color: var(--mobileBg1);
    padding: var(--paddingMedium) var(--paddingSmall) var(--paddingMedium)
      var(--paddingSmall);
    justify-content: space-between;
    border-top-width: 2px;
    border-top-style: solid;
    border-color: var(--borderColor);
    padding-top: var(--paddingMedium);
  }
}
