.initialsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bodyBg, #fff);
  border-radius: var(--radius_50Per, 50%);
  border-width: 0.5px;
  border-color: var(--borderColor, #ccd0e5);
  position: relative;
  border: var(--width_8, 8px) solid var(--bodyBg, #fff);
}

.editProfileContainer {
  align-self: center;
  margin-top: var(--margin_40, 40px);
}

.iconContainer {
  position: absolute;
  bottom: -5px;
  right: -5px;
}

.editIcon {
  bottom: 100px;
  right: 0;
  cursor: pointer;
}

.initialsAvatar {
  background-color: var(--blackBg, #000833);
  display: flex;
  justify-content: center;
  align-items: center;
}

.profileAvatar {
  width: var(--width_104, 104px);
  height: var(--height_104, 104px);
  font-size: var(--fontSizeLargeHeading, 36px);
}

.initialsAvatar > span {
  font-weight: 500;
}

@media (max-width: 551px) {
  .editProfileContainer {
    margin-top: var(--margin_20, 20px);
  }
}
