// TODO: use var here
.initialsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bodyBg, #fff);
  border-radius: var(--radius_50Per, 50%);
  border-width: 0.5px;
  border-color: var(--borderColor, #ccd0e5);
  position: relative;
  border: var(--width_10, 10px) solid  var(--bodyBg, #fff);
}

.editProfileContainer {
  cursor: pointer;
  align-self: center;
}

.profileImageStyle {
  min-width: var(--width_150, 150px);
  min-height: var(--height_150, 150px);
  border-radius: var(--radius_50Per, 50%);
}

.modalProfileImage {
  min-width: var(--width_100, 100px);
  border-radius: var(--radius_50Per, 50%);
}

.initialsText {
  font-size: var(--fontSizeSmall, 14px);
}

.iconContainer {
  position: relative;
}

.editIcon {
  position: absolute;
  bottom: 100px;
  right: 0;
  cursor: pointer;
}

@media (max-width: 551px) {
  .profileImageStyle {
    min-width: var(--width_70, 70px);
    min-height: var(height_70, 70px);
  }
  .modalProfileImage {
    min-width: var(--width_70, 70px);
  }
}
