.container {
  display: flex;
  padding: var(--paddingXXXSmall) var(--paddingExtraSmall);
  justify-content: center;
  align-items: center;
  border-radius: var(--radiusXLgMedium);
}

.text {
  font-size: var(--fontSizeExtraSmall);
  font-weight: var(--fontWeightMedium);
}

.pending_bg {
  background-color: var(--lightRedBg);
}

.pending_color {
  color: var(--redText);
}

.progress_bg {
  background-color: var(--lightBlueBg);
}

.progress_color {
  color: var(--blueText);
}

.success_bg {
  background-color: var(--lightGreenBg);
}

.success_color {
  color: var(--greenText);
}
