.mainContainer {
  justify-content: space-between;
}
.topContainer {
  background-color: var(--bodyBg);
  padding: var(--paddingMedium);
  border: var(--borderLight);
  border-radius: var(--radiusMLg);
  gap: var(--gapMedium);
}

.viewTopContainer {
  background-color: var(--bodyBg);
  border-radius: var(--radiusMLg);
}

.titleText {
  font-size: var(--fontSizeNormal);
  color: var(--headingColor);
  font-weight: var(--fontWeightBold);
}

.table {
  border-radius: var(--radiusMLg);
  overflow: hidden;
  flex: 1;
  width: var(--fullWidth);
  flex-direction: column;
  justify-content: space-between;
  display: flex;
}

.editableTableContainer {
  border-radius: 0px;
  border: none;
}

.rowtext {
  color: var(--textBold);
  font-size: var(--fontSizeSmall);
  font-weight: var(--fontWeightMedium);
}

.customTimeStyle {
  width: var(--fullWidth);
  height: var(--height_44);
  display: flex;
  align-items: center;
  border: var(--borderLight);
}

.customInputStyle {
  height: var(--height_44);
  display: flex;
  align-items: center;
  border: var(--borderLight);
}

.customColumnHeading {
  color: var(--subHeadingColor);
  font-size: var(--fontSizeExtraSmall);
  font-weight: var(--fontWeightMedium);
}

.bottomSectionStyle {
  background-color: white;
}

.customImageStyle {
  padding-top: var(--margin_10);
}

.customInputContainerStyles {
  min-width: var(--width_120);
}
