.mainContainer {
  justify-content: space-between;
}
.topContainer {
  background-color: var(--bodyBg);
  padding: var(--paddingMedium);
  border: var(--borderLight);
  border-radius: var(--radiusMLg);
  gap: var(--gapMedium);
}

.titleText {
  font-size: var(--fontSizeNormal);
  color: var(--headingColor);
  font-weight: var(--fontWeightBold);
}

.table {
  flex: 1;
  width: var(--fullWidth);
  max-height: 60vh;
  min-height: 45vh;
  overflow-y: auto;
}

.rowtext {
  color: var(--textBold);
  font-size: var(--fontSizeSmall);
  font-weight: var(--fontWeightMedium);
}

.customTimeStyle {
  width: var(--fullWidth);
}

.customInputStyle {
  max-width: var(--fullWidth);
  min-width: var(--width_150);
}

.customColumnHeading {
  color: var(--subHeadingColor);
  font-size: var(--fontSizeExtraSmall);
  font-weight: var(--fontWeightMedium);
}
