.addSubscriptionBtn {
  display: flex;
  padding: 12px var(--paddingSmall);
  justify-content: center;
  align-items: center;
  gap: var(--gapXSmall);
  border-radius: var(--radiusLg);
  background-color: var(--greenBtnBg);
  color: var(--textPrimary);
  font-size: var(--fontSizeSmall);
  line-height: var(--lineHeightNormal);
}
