.container {
  display: flex;
  flex-direction: column;
  gap: var(--gapXXLarge);
  width: 100%;
}

.secondScreen {
  gap: var(--gapXSmall) !important;
}

.bottomContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 120px;
}

.inputLabel {
  color: var(--inputLabel);
  font-size: var(--fontSizeSmall);
  font-weight: var(--fontWeightMedium);
}

.input {
  color: var(--inputText);
  font-size: var(--fontSizeNormal);
  font-weight: var(--fontWeightMedium);
  padding: var(--paddingSmall);
  border-radius: var(--radiusXLg);
  border: var(--borderLight);
  background-color: var(--bodyBg);
}

.forgotPasswordSuccessText {
  color: var(--successText);
  font-size: var(--fontSizeSmall);
  font-weight: var(--fontWeightBold);
}

@media (max-width: 511px) {
  .container {
    gap: var(--gapXLarge);
    flex: 1;
  }
  .bottomContainer {
    background-color: var(--mobileBg1);
    padding: var(--paddingMedium) var(--paddingSmall) var(--paddingMedium)
      var(--paddingSmall);
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top-width: 2px;
    border-top-style: solid;
    border-color: var(--borderColor);
    padding-top: var(--paddingMedium);
  }
}
