.outerContainer {
  background-color: var(--blueBg);
  padding: var(--paddingMedium);
}

.fullWidth {
  width: var(--widthFullViewPort);
}

.otherOutercontainer {
  padding-bottom: var(--paddingMedium);
}
