.blackText {
  font-family: var(--fontFamilyRegular);
  font-size: var(--fontSizeNormal);
  font-weight: var(--fontWeightBold);
  color: var(--textBold);
}

.cityContainer {
  background-color: var(--bodyBg);
  padding: var(--paddingMedium);
  border-radius: var(--radiusMLg);
}

.gridClass {
  gap: var(--gapMedium);
  justify-content: center;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.mainContainer {
  gap: var(--gapMedium);
  width: 50vw;
}
