.container {
  padding: 24px;
  border-radius: 16px;
  border: 1px solid var(--Primary-variant, #ccd0e5);
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.uploadContainer {
  width: 50%;
  height: 100%;
  border-radius: 12px;
  background-color: #f2f4fc;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.headingText {
  color: var(--On-background, var(--On-background, #000833));
  font-size: 16px;
  font-weight: 600;
}

.subHeadingText {
  color: var(--On-surface, #616c82);
  font-size: 12px;
  font-weight: 500;
}

.uploadTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.uploadImage {
  max-width: 120px;
}

.uploadText {
  color: #0f0f0f;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 25px;
}

.uploadInfo {
  color: var(--On-surface, #616c82);
  text-align: center;
  font-size: 12px;
  font-weight: 500;
}

.uploadBottomContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
