.sideMenuContainer {
    min-width: var(--sidemenuWidth);
    height: 100%;
    background-color: var(--sidemenuBgColor);
    display: flex;
    flex-direction: column;
    padding: var(--fontSizeSmall);
}
