.container {
  display: flex;
  flex-direction: column;
  flex-grow: unset;
  align-content: flex-start;
}

.inputLabelContainer {
  display: flex;
  gap: var(--gapXXSmall);
  padding-bottom: 4px;
}

.formContainer {
  margin-bottom: 0px;
}

.inputNumberStyles {
  min-width: 100%;
  color: var(--inputText) !important;
  font-size: var(--fontSizeNormal);
  font-weight: var(--fontWeightMedium);

  &::placeholder {
    color: var(--inputPlaceHolder) !important;
  }
}

.errorText {
  color: var(--error);
  font-weight: var(--fontWeightMedium);
  font-size: var(--fontSizeExtraSmall);
  margin-top: var(--marginXXSmall);
  opacity: 0;
}

.showError {
  opacity: 1;
}
