.table {
  flex: 1;
  width: var(--fullWidth);
  border-radius: var(--radiusMLg) !important;
  overflow: hidden !important;
  border: var(--borderLight);
}

.rowtext {
  color: var(--textBold);
  font-size: var(--fontSizeSmall);
  font-weight: var(--fontWeightMedium);
}

.textStyles {
  padding-left: var(--paddingSmall);
}

.customTimeStyle {
  width: var(--fullWidth);
}

.customColumnHeading {
  min-width: var(--width_250);
}
