.ant-input::placeholder {
    font-family: var(--fontFamilyRegular)!important;
    font-size: var(--fontSizeSmall)!important;
    font-weight: var(--fontWeightMedium) !important;
    color: var(--inputPlaceHolder) !important;
  }
  .ant-picker input::placeholder {
    font-family: var(--fontFamilyRegular)!important;
    font-size: var(--fontSizeSmall)!important;
    font-weight: var(--fontWeightMedium) !important;
    color: var(--inputPlaceHolder) !important;
  }
  .ant-select .ant-select-selection-placeholder {
    font-family: var(--fontFamilyRegular)!important;
    font-size: var(--fontSizeSmall)!important;
    font-weight: var(--fontWeightMedium) !important;
    color: var(--inputPlaceHolder) !important;
    
  }
  .ant-picker input{
    font-family: var(--fontFamilyRegular)!important;
    font-size: var(--fontSizeSmall)!important;
    font-weight: var(--fontWeightMedium) !important;
    color: var(--inputPlaceHolder) !important;
  }
 
  .ant-input-affix-wrapper >input.ant-input{
    color: inherit;
    font-weight: inherit;
    font-size: inherit;
}