.sessionDetails{
    background-color: var(--bodyBg);
    padding: var(--fontSizeXlargeMedium);
    border-radius: var(--lineHeightExtraSmall);
    border: var(--borderLight);
    gap: var(--gapMedium);
}
.headingText{
    font-family: var(--fontFamilyRegular);
    font-size: var(--fontSizeNormal);
    font-weight: var(--fontWeightBold);
    color: var(--textBold);
}
.headerContainer{
    justify-content: space-between;
}
.grayText{font-family: var(--fontFamilyRegular);
    font-size: var(--fontSizeSmall);
    font-weight: var(--fontWeightMedium);
    color: var(--subHeadingColor)};
.blackText{
    font-family: var(--fontFamilyRegular);
    font-size: var(--fontSizeSmall);
    font-weight: var(--fontWeightMedium);
    color: var(--textBold);
}
.redText{ color: var(--error);}
.editIcon{
    width: var(--lineHeightNormal);
    height: var(--lineHeightNormal);
}
.editContainer{
    align-items: center;
    gap:var(--gapXSmall);
cursor: pointer;
}
.gridContainer{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  column-gap: var(--gapSmall);
  flex: 1;
}
.gridItem {
    padding-bottom: var(--gapMedium);
  }
.detailsContainer{

}
.statusContainer{gap:var(--gapXSmall);

    align-items: center;
}
.Switch{
    background-color: var(--greenBtnBg);
}
.inputLabel {
    color: var(--textBold);
    font-size: var(--fontSizeSmall);
    font-weight: var(--fontWeightMedium);
  }
  
  .input{
    color: var(--textBold) !important;
    font-size: var(--fontSizeSmall);
    font-weight: var(--fontWeightMedium);
    padding: var(--paddingSmall);
    border-radius: var(--radiusXLg);
    border: var(--borderLight);
    background-color: var(--bodyBg);
    min-width:  300px;
  }
  .buttonStyles{
    background-color: var(--bodyBg);
}

.textStyle{
    font-family: var(--fontFamilyRegular);
    font-size: var(--fontSizeSmall);
    font-weight: var(--fontWeightMedium);
    color: var(--textBold);
}
 