.mainContainer {
  gap: var(--gapMedium);
}

.sessionDetails {
  background-color: var(--bodyBg);
  padding: var(--fontSizeXlargeMedium);
  margin: var(--marginLarge);
  border-radius: var(--lineHeightExtraSmall);
  border: var(--borderLight);
  gap: var(--gapMedium);
}

.headingText {
  font-family: var(--fontFamilyRegular);
  font-size: var(--fontSizeNormal);
  font-weight: var(--fontWeightBold);
  color: var(--textBold);
}

.headerContainer {
  justify-content: space-between;
}

.grayText {
  font-family: var(--fontFamilyRegular);
  font-size: var(--fontSizeExtraSmall);
  font-weight: var(--fontWeightMedium);
  color: var(--subHeadingColor);
}

.blackText {
  font-family: var(--fontFamilyRegular);
  font-size: var(--fontSizeSmall);
  font-weight: var(--fontWeightMedium);
  color: var(--textBold);
}

.redText {
  color: var(--error);
}

.editIcon {
  width: var(--lineHeightNormal);
  height: var(--lineHeightNormal);
}

.crossIcon {
  display: flex;
  width: var(--xSmallWidth);
  height: var(--xSmallWidth);
  cursor: pointer;
}

.editContainer {
  gap: var(--gapXSmall);
  cursor: pointer;
  justify-content: flex-end;
  align-items: center;
}

.button {
  border-radius: 8px;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  column-gap: var(--gapSmall);
  flex: 1;
}

.mobileGridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  column-gap: var(--gapSmall);
  flex: 1;
}

.gridItem {
  padding-bottom: var(--paddingMedium);
  gap: var(--gapXSmall);
}
.editGridItem {
  padding-bottom: var(--paddingMedium);
  gap: var(--gapXXSmall);
}

.statusContainer {
  gap: var(--gapXSmall);
  align-items: center;
}

.Switch {
  background-color: var(--greenBtnBg);
}

.inputLabel {
  color: var(--textBold);
  font-size: var(--fontSizeSmall);
  font-weight: var(--fontWeightMedium);
}

.input {
  color: var(--textBold) !important;
  font-size: var(--fontSizeSmall);
  font-weight: var(--fontWeightMedium);
  padding-left: var(--paddingSmall);
  padding-right: var(--paddingSmall);
  padding-top: var(--paddingExtraSmall);
  padding-bottom: var(--paddingExtraSmall);
  border-radius: var(--radiusLg);
  border: var(--borderLight);
  background-color: var(--bodyBg);
  &::placeholder {
    color: var(--textBold) !important;
  }
}

.dateInput {
  min-height: var(--height_44);
  color: var(--textBold) !important;
  font-size: var(--fontSizeSmall);
  font-weight: var(--fontWeightMedium);
  padding-left: var(--paddingSmall);
  padding-right: var(--paddingSmall);
  padding-top: var(--radiusMd);
  padding-bottom: var(--paddingExtraSmall);
  border-radius: var(--radiusLg);
  border: var(--borderLight);
  background-color: var(--bodyBg);
  flex: 1;
  display: flex;
}

.multilpleInput {
  min-height: var(--height_44);
  color: var(--textBold) !important;
  font-size: var(--fontSizeSmall);
  font-weight: var(--fontWeightMedium);
  border-radius: var(--radiusLg);
  border: var(--borderLight);
}

.buttonStyles {
  background-color: var(--bodyBg);
  &:hover {
    background-color: var(--bodyBg) !important;
    color: var(--btnText) !important;
  }
}

.mobileButtonStyles {
  background-color: var(--bodyBg);
  padding: var(--paddingSmall);
  &:hover {
    background-color: var(--bodyBg) !important;
    color: var(--btnText) !important;
  }
}

.textStyle {
  font-family: var(--fontFamilyRegular);
  font-size: var(--fontSizeSmall);
  font-weight: var(--fontWeightMedium);
  color: var(--textBold);
}

.saveButtonTextStyles {
  font-family: var(--fontFamilyRegular);
  font-size: var(--fontSizeSmall);
  font-weight: var(--fontWeightMedium);
  color: var(--bodyBg);
}

.customContainerStyles {
  flex: 1;
  width: var(--fullWidth);
}

.periodText {
  font-family: var(--fontFamilyRegular);
  font-size: var(--fontSizeSmall);
  font-weight: var(--fontWeightMedium);
  color: var(--textBold);
  padding-top: var(--gapXXSmall);
  padding-bottom: var(--gapXXSmall);
  padding-left: var(--gapSmallMedium);
  padding-right: var(--gapSmallMedium);
  margin-right: var(--gapXSmall);
  margin-top: var(--gapXXSmall);
  background-color: var(--lightBlueBg);
  border-radius: var(--gapSmall);
}

.examinationFieldContainer {
  gap: var(--gapXSmall);
  display: flex;
  flex-wrap: wrap;
}
.editExaminationFieldContainer {
  padding-top: var(--paddingXXSmall);
  gap: var(--paddingXXSmall);
  display: flex;
  flex-wrap: wrap;
}

.chipText {
  font-size: var(--fontSizeSmall);
  font-weight: var(--fontWeightMedium);
  color: var(--textBold);
  margin-right: var(--gapXSmall);
}

.chipContainer {
  display: flex;
  align-items: center;
  background-color: var(--lightBlueBg);
  border-radius: var(--gapSmall);
  padding: var(--gapXXSmall) var(--gapSmallMedium);
  margin-top: var(--gapXXSmall);
}

.formInputStyles {
  flex: 1;
}

.errorText {
  color: var(--error);
  font-weight: var(--fontWeightMedium);
  font-size: var(--fontSizeSmall);
  margin-top: var(--marginSmall);
}

.noSessionContainer {
  min-height: var(--height_50vh);
  background-color: var(--bodyBg);
  padding: var(--fontSizeXlargeMedium);
  border-radius: var(--lineHeightExtraSmall);
  border: var(--borderLight);
  justify-content: center;
  align-items: center;
  flex: 1;
  margin: var(--marginLarge);
}

.noSessionText {
  font-size: var(--fontSizeLarge);
  font-weight: var(--fontWeightBold);
  color: var(--textBold);
  align-self: center;
  text-align: center;
}
