.mainContainer{
    gap:var(--gapMedium)
}
.sessionDetails{
    background-color: var(--bodyBg);
    padding: var(--fontSizeXlargeMedium);
    border-radius: var(--lineHeightExtraSmall);
    border: var(--borderLight);
    gap: var(--gapMedium);
}
.headingText{
    font-family: var(--fontFamilyRegular);
    font-size: var(--fontSizeNormal);
    font-weight: var(--fontWeightBold);
    color: var(--textBold);
}
.headerContainer{
    justify-content: space-between;
}
.grayText{font-family: var(--fontFamilyRegular);
    font-size: var(--fontSizeSmall);
    font-weight: var(--fontWeightMedium);
    color: var(--subHeadingColor);
};
.blackText{
    font-family: var(--fontFamilyRegular);
    font-size: var(--fontSizeSmall);
    font-weight: var(--fontWeightMedium);
    color: var(--textBold);
}
.redText{ color: var(--error);}
.editIcon{
    width: var(--lineHeightNormal);
    height: var(--lineHeightNormal);
}
.editContainer{
    align-items: center;
    gap:var(--gapXSmall);
cursor: pointer;
}
.gridContainer{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  column-gap: var(--gapSmall);
  flex: 1;
}
.mobileGridContainer{
    display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  column-gap: var(--gapSmall);
  flex: 1;
}
.gridItem {
    padding-bottom: var(--gapMedium);
  }
.statusContainer{
    gap:var(--gapXSmall);
    align-items: center;
}
.Switch{
    background-color: var(--greenBtnBg);
}
.inputLabel {
    color: var(--textBold);
    font-size: var(--fontSizeSmall);
    font-weight: var(--fontWeightMedium);
  }
  
  .input{
    color: var(--textBold) !important;
    font-size: var(--fontSizeSmall);
    font-weight: var(--fontWeightMedium);
    padding-left: var(--paddingSmall);
    padding-right: var(--paddingSmall);
    padding-top: var(--paddingExtraSmall);
    padding-bottom: var(--paddingExtraSmall);
    border-radius: var(--radiusLg);
    border: var(--borderLight);
    background-color: var(--bodyBg);
  }
.dateInput{
    color: var(--textBold) !important;
    font-size: var(--fontSizeSmall);
    font-weight: var(--fontWeightMedium);
    padding-left: var(--paddingSmall);
    padding-right: var(--paddingSmall);
    padding-top: var(--radiusMd);
    padding-bottom: var(--paddingExtraSmall);
    border-radius: var(--radiusLg);
    border: var(--borderLight);
    background-color: var(--bodyBg);
    flex:1;
    display: flex;
}
.multilpleInput{
    color: var(--textBold) !important;
    font-size: var(--fontSizeSmall);
    font-weight: var(--fontWeightMedium);
    border-radius: var(--radiusLg);
    border: var(--borderLight);
}
.buttonStyles{
    background-color: var(--bodyBg);
    &:hover {
        background-color: var(--bodyBg) !important;
        color: var(--btnText) !important;
      }
}
.mobileButtonStyles{
    background-color: var(--bodyBg);
    padding: var(--paddingSmall);
    &:hover {
        background-color: var(--bodyBg) !important;
        color: var(--btnText) !important;
      }
}

.textStyle{
    font-family: var(--fontFamilyRegular);
    font-size: var(--fontSizeSmall);
    font-weight: var(--fontWeightMedium);
    color: var(--textBold);
}
.saveButtonTextStyles{
    font-family: var(--fontFamilyRegular);
    font-size: var(--fontSizeSmall);
    font-weight: var(--fontWeightMedium);
    color: var(--bodyBg);
}
.customContainerStyles{ 
    flex: 1; 
    width: var(--fullWidth);
}
.periodText{
    font-family: var(--fontFamilyRegular);
    font-size: var(--fontSizeSmall);
    font-weight: var(--fontWeightMedium);
    color: var(--textBold);
    padding-top: var(--gapXXSmall);
    padding-bottom:var(--gapXXSmall) ;
    padding-left: var(--gapSmallMedium);
    padding-right: var(--gapSmallMedium);
    margin-right: var(--gapXSmall);
    margin-top: var(--gapXXSmall);
    background-color: var(--lightBlueBg);
    border-radius: var(--gapSmall);
}
.examinationFieldContainer{
    display: flex;
    flex-wrap: wrap;
}
.formInputStyles{   
    flex:1;
}
.errorText {
    color: var(--error);
    font-size: var(--fontSizeExtraSmall);
    margin-top: var(--gapXXSmall);
  }
  
 