.profileImageStyle {
  width: var(--width_32);
  height: var(--height_32);
}

.fromMessageText {
  background-color: var(--ltGrey4);
  padding: var(--paddingSmall);
  border-radius: var(--radiusMLg) var(--radiusXss) var(--radiusMLg)
    var(--radiusMLg);
  border: var(--borderLight);
  color: var(--textBold);
  font-weight: var(--fontWeightMedium);
  font-size: var(--fontSizeSmall);
  max-width: 30vw;
}

.toMessageText {
  background-color: var(--bodyBg);
  padding: var(--paddingSmall);
  border-radius: var(--radiusXss) var(--radiusMLg) var(--radiusMLg)
    var(--radiusMLg);
  border: var(--borderLight);
  color: var(--textBold);
  font-weight: var(--fontWeightMedium);
  font-size: var(--fontSizeSmall);
  max-width: 30vw;
}

.leftMessageContaier {
  justify-content: flex-start;
}

.rightMessageContaier {
  justify-content: flex-end;
}

.rightTimeText {
  color: var(--inputPlaceHolder);
  font-weight: var(--fontWeightMedium);
  font-size: var(--fontSizeExtraSmall);
  width: var(--fullWidth);
  display: flex;
  justify-content: flex-end;
}
.leftTimeText {
  color: var(--inputPlaceHolder);
  font-weight: var(--fontWeightMedium);
  font-size: var(--fontSizeExtraSmall);
  width: var(--fullWidth);
}

.leftImageContainerStyle {
  border-width: 0px;
  margin-top: var(--marginMedium);
  margin-right: var(--marginSmall);
}
.rightImageContainerStyle {
  border-width: 0px;
  margin-top: var(--marginMedium);
  margin-left: var(--marginSmall);
}

@media screen and (max-width: 767px) {
  .fromMessageText {
    max-width: var(--widthHalfViewPort);
  }
  .toMessageText {
    max-width: var(--widthHalfViewPort);
  }
}
