.container {
  flex-direction: column;
  gap: var(--gapLarge, 32px);
}

.modal {
  border-radius: var(--radiusXLg, 12px) !important;
}

.heading {
  color: var(--textBold, #000833);
  font-size: var(--fontSizeXlarge, 20px);
  font-weight: var(--fontWeightBold, 600);
}

.headingAndSubHeadingContainer {
  display: flex;
  flex-direction: row;
  gap: var(--gapXSmall, 8px);
  justify-content: space-between;
}

.imageAndHeadingContainer {
  display: flex;
  flex-direction: column;
  gap: var(--gap_20, 20px);
}

.errorText {
  color: var(--error);
  font-size: var(--fontSizeExtraSmall);
  margin-top: var(--marginSmall);
}

.grayText {
  font-size: var(--fontSizeExtraSmall, 12px) !important;
  font-weight: var(--fontWeightMedium, 500);
  color: var(--subHeadingColor, #616c82);
}

.blackText {
  font-size: var(--fontSizeSmall);
  font-weight: var(--fontWeightMedium);
  color: var(--textBold);
}

.redText {
  color: var(--error);
}

.customContainerStyles {
  width: var(--fullWidth);
}

.formInputStyles {
  flex: 1;
}

.inputLabel {
  color: #616c82 !important;
  font-size: var(--fontSizeSmall);
  font-weight: var(--fontWeightMedium);
}

.input {
  color: var(--textBold) !important;
  font-size: var(--fontSizeSmall);
  font-weight: var(--fontWeightMedium);
  padding: var(--paddingMediumSmall, 12px) var(--paddingSmall, 16px);
  border-radius: var(--radiusLg, 8px) !important;
  border: var(--borderLight, 1px solid #ccd0e5);
  background-color: var(--bodyBg);
  min-height: var(--height_44, 44px);
}

.textStyle {
  font-size: var(--fontSizeSmall);
  font-weight: var(--fontWeightMedium);
  color: var(--textBold);
}

.passwordPointsHeading {
  color: var(--textBold);
  font-size: var(--fontSizeSmall, 14px);
  font-weight: var(--fontWeightMedium);
}

.crossIcon {
  cursor: pointer;
}

.customActionBtnStyles {
  display: flex;
  padding: var(--paddingMediumSmall, 12px) var(--paddingSmall, 16px);
  justify-content: center;
  align-items: center;
  gap: var(--gapXSmall, 8px);
  min-height: var(--btnHeight, 56px);
  border-radius: var(--radiusLg, 8px) !important;
  color: var(--btnText, #fbfcff);
  font-size: var(--fontSizeSmall, 14px);
  font-weight: var(--fontWeightMedium, 500);
  background-color: var(--greenBtnBg, #04af55);
  border: none !important;
  &:hover {
    color: var(--btnText, #fbfcff) !important;
    background-color: var(--greenBtnBg, #04af55) !important;
  }
}
