.container {
  flex-direction: column;
  gap: var(--gapLarge, 32px);
}

.modal {
  border-radius: var(--radiusXLg, 12px) !important;
}

.heading {
  color: var(--textBold, #000833);
  font-size: var(--fontSizeXlarge, 20px);
  font-weight: var(--fontWeightBold, 600);
}

.headingAndSubHeadingContainer {
  display: flex;
  flex-direction: row;
  gap: var(--gapXSmall, 8px);
  justify-content: space-between;
}

.imageAndHeadingContainer {
  display: flex;
  flex-direction: column;
  gap: var(--gap_20, 20px);
}

.grayText {
  font-size: var(--fontSizeExtraSmall, 12px) !important;
  font-weight: var(--fontWeightMedium, 500);
  color: var(--subHeadingColor, #616c82);
}

.redText {
  color: var(--error, #d93400);
}

.customContainerStyles {
  width: var(--fullWidth);
}

.formInputStyles {
  flex: 1;
}

.inputLabel {
  color: var(--inputPlaceHolder, #616c82) !important;
  font-size: var(--fontSizeSmall, 14);
  font-weight: var(--fontWeightMedium, 500);
}

.input {
  color: var(--textBold, #000833) !important;
  font-size: var(--fontSizeSmall, 14px);
  font-weight: var(--fontWeightMedium, 500);
  padding: var(--paddingMediumSmall, 12px) var(--paddingSmall, 16px);
  border-radius: var(--radiusLg, 8px) !important;
  border: var(--borderLight, 1px solid #ccd0e5);
  background-color: var(--bodyBg, #ffffff);
  min-height: var(--height_44, 44px);
}

.passwordPointsHeading {
  color: var(--textBold, #000833);
  font-size: var(--fontSizeSmall, 14px);
  font-weight: var(--fontWeightMedium, 500);
}

.crossIcon {
  cursor: pointer;
}

.twoRowContainer{
  gap: var(--gapSmallMedium, 12px);
}

.customActionBtnStyles {
  display: flex;
  flex: 1;
  padding: var(--paddingMediumSmall, 12px) var(--paddingSmall, 16px);
  justify-content: center;
  align-items: center;
  gap: var(--gapXSmall, 8px);
  min-height: var(--height_44, 44px);
  border-radius: var(--radiusLg, 8px) !important;
  color: var(--btnText, #fbfcff);
  font-size: var(--fontSizeSmall, 14px);
  font-weight: var(--fontWeightMedium, 500);
  border: none !important;
  &:not(:disabled):hover {
    color: var(--btnText, #fbfcff) !important;
    background-color: var(--greenBtnBg, #04af55) !important;
  }
}

.customCancelBtnStyles {
  min-height: var(--height_44, 44px);
}

@media screen and (max-width: 767px) {
  .customActionBtnStyles {
    min-height: var(--height_40, 40px);
  }

  .customCancelBtnStyles {
    min-height: var(--height_40, 40px) !important;
  }
}
