.container {
  flex-direction: column;
  gap: 32px;
}

.error {
  padding-bottom: 8px;
  color: var(--error);
  font-size: var(--fontSizeSmall);
  font-weight: var(--fontWeightBold);
}

.linkContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.backToLoginLink {
  color: var(--linkColor);
  text-align: center;
  font-size: var(--fontSizeSmall);
  font-weight: var(--fontWeightBold);
  &:hover {
    color: var(--linkColor) !important;
  }
}

.backToLoginLink[disabled] {
  color: grey !important;
}
