.container {
  flex-direction: column;
  gap: var(--gapLarge);
  overflow: unset;
}

.error {
  padding-bottom: var(--paddingExtraSmall);
  color: var(--error);
  font-size: var(--fontSizeSmall);
  font-weight: var(--fontWeightBold);
  opacity: 0;
  min-height: var(--height_20);
}

.showError {
  opacity: 1;
}

.linkContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.backToLoginLink {
  color: var(--linkColor);
  text-align: center;
  font-size: var(--fontSizeSmall);
  font-weight: var(--fontWeightBold);
  &:hover {
    color: var(--linkColor) !important;
  }
}

.backToLoginLink[disabled] {
  color: var(--disableLink) !important;
}


@media (max-width: 400px) {
  .error {
    min-height: var(--height_30);
  }
}