.container {
  flex-direction: column;
  gap: 32px;
}

.linkContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.backToLoginLink {
  color: var(--linkColor);
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  &:hover {
    color: var(--linkColor) !important;
  }
}
