.twoColumnBox {
  justify-content: space-between;
  align-items: center;
}

.contentHeaderText {
  color: var(--textBold);
  font-size: var(--fontSizeHeading);
  font-style: normal;
  font-weight: var(--fontWeightBold);
  line-height: var(--lineHeightHeading);
  letter-spacing: -0.32px;
}