.container {
  display: flex;
  gap: var(--gapSmall);
  justify-content: center;
  align-items: center;
}

.twoColumnBox {
  justify-content: space-between;
  align-items: center;
}

.contentHeaderText {
  font-family: var(--fontFamilyRegular);
  color: var(--textBold);
  font-size: var(--fontSizeHeading);
  font-weight: var(--fontWeightBold);
  line-height: var(--lineHeightHeading);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 50vw;
}

@media screen and (max-width: 767px) {
  .contentHeaderText {
    font-size: var(--fontSizeXlargeMedium);
  }
}
