.headerCustomStyles {
  padding: var(--paddingMedium);
}

.parentContainer {
  border-bottom: var(--borderLight);
}

.erroredContainer {
  display: flex;
  justify-content: center;
  min-height: var(--height_50vh);
}
