.container {
  padding: var(--paddingMedium);
  width: var(--fullWidth);
}

.description {
  padding: var(--paddingMedium);
  border-radius: var(--radiusMLg);
  border: var(--borderLight);
  background-color: var(--bodyBg);
  width: var(--fullWidth);
}

.label{
  color: var(--inputPlaceHolder)
}

.isRequired{
  color: var(--requiredStarColor);
}