.headingContainer {
  display: flex;
  flex-direction: column;
  gap: var(--gapSmall);
}

.loginHeading {
  color: var(--headingColor);
  font-size: var(--fontSizeExtraLargeHeading);
  font-weight: var(--fontWeightBold);
}

.loginSubHeading {
  color: var(--subHeadingColor);
  font-size: var(--fontSizeNormal);
  font-weight: var(--fontWeightMedium);
}

@media (max-width: 1535px) {
  .loginHeading {
    font-size: var(--fontSizeLargeHeading);
  }
}

@media (max-width: 1279px) {
  .loginHeading {
    font-size: var(--fontSizeHeading);
  }
  .loginSubHeading {
    font-size: var(--fontSizeSmall);
  }
}

@media (max-width: 511px) {
  .loginHeading {
    font-size: var(--fontSizeXXlarge);
  }
  .headingContainer {
    padding: var(--paddingMedium) var(--paddingSmall) 0px var(--paddingSmall);
  }
}
