.headingContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.loginHeading {
  color: var(--headingColor);
  font-size: 40px;
  font-weight: var(--fontWeightBold);
}

.loginSubHeading {
  color: var(--subHeadingColor);
  font-size: var(--fontSizeNormal);
  font-weight: var(--fontWeightMedium);
}

@media (max-width: 1535px) {
  .loginHeading {
    font-size: 36px;
  }
}

@media (max-width: 1279px) {
  .loginHeading {
    font-size: 32px;
  }
  .loginSubHeading {
    font-size: 14px;
  }
}

@media (max-width: 511px) {
  .loginHeading {
    font-size: 28px;
  }
  .headingContainer {
    padding: 24px 16px 0px 16px;
  }
}
