.ant-select-selection-item {
    font-size: var(--fontSizeSmall); 
}

/* Not sure for what purpose we need this style */
.ant-input-affix-wrapper >input.ant-input{
    color: inherit;
    font-weight: inherit;
}