.customStyles {
  justify-content: space-between;
  font-size: var(--fontSizeXlargeMedium);
}

.customContainerStyle {
  border-top: var(--borderLight);
  background-color: var(--bodyBg);
  padding: var(--paddingMedium) var(--gap_26);
}

.mainContainer {
  gap: var(--gapSmall);
  padding-bottom: var(--paddingMedium);
}
