.columnHeading {
  color: var(--subHeadingColor);
  font-size: var(--fontSizeSmall);
  font-weight: var(--fontWeightBold);
}

.textEllipsis {
  max-width: var(--width_200);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  min-width: var(--width_100);
}

.filterAndTableContainer {
  background-color: var(--blueBg);
  width: var(--fullWidth);
  display: flex;
  flex-direction: column;
  gap: var(--gapSmall);
  padding: var(--paddingMedium);
  flex: 1;
}

.searchIcon {
  width: var(--width_30);
  height: var(--height_30);
  padding-right: var(--paddingExtraSmall);
  padding-bottom: var(--paddingXXSmall);
}

.searchBar {
  width: 30%;
  min-height: var(--minBtnHeight);
  border-radius: var(--radiusXLg);
  input {
    color: var(--inputText) !important;
    font-size: var(--fontSizeSmall) !important;
    font-weight: var(--fontWeightMedium) !important;
  }
}

.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--height_50vh);
  width: var(--fullWidth);
}

.searchBarContainer {
  display: flex;
  justify-content: flex-start;
  gap: var(--gapSmall);
  position: relative;
}

.errorContainer {
  width: var(--fullWidth);
  height: var(--fullHeight);
  display: flex;
  justify-content: center;
  align-items: center;
}

.errorText {
  color: var(--textBold);
  font-weight: var(--fontWeightMedium);
}

.alertBox {
  max-width: var(--width_300);
  font-weight: var(--fontWeightBold);
}

.errorTextContainer {
  display: flex;
  flex-direction: column;
  gap: var(--gapXSmall);
}

input::placeholder {
  color: var(--inputPlaceHolder) !important;
}

.tableCell {
  min-width: var(--width_100);
}
.tableCellDate {
  min-width: var(--width_120);
}

.chipsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gapSmall);
  text-transform: capitalize;
}

.chipBg {
  background-color: var(--chipBg);
}

.chipText {
  color: var(--textBold);
  font-size: var(--fontSizeSmall);
  font-weight: var(--fontWeightMedium);
}
.textEllipsisChip {
  max-width: var(--width_200);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  background-color: var(--snow);
  padding: var(--paddingXXXSmall) var(--paddingExtraSmall);
  border-radius: var(--radiusMLg);
}

.customContainerStyles {
  border-radius: var(--radiusMLg) !important;
  overflow: hidden !important;
}

@media screen and (max-width: 1023px) {
  .searchBar {
    width: var(--halfWidth);
  }
}

@media screen and (max-width: 511px) {
  .searchBarContainer {
    flex-direction: column;
  }
  .searchBar {
    width: var(--fullWidth);
    min-height: var(--height_50);
  }
  .filterBtn {
    max-width: var(--width_100);
    align-self: flex-end;
  }
}
