.customTable .ant-table-thead > tr > th {
  background-color: var(--bodyBg) !important;
  padding: var(--paddingNone) !important;
  border-bottom: none !important;
}

.customTable .ant-table-tbody > tr > td {
  vertical-align: top;
  border-bottom: none !important;
  padding-top: var(--paddingNone) !important;
  padding-bottom: var(--paddingMediumSmall) !important;
}

.customTable .ant-table-thead > tr > th .ant-table-cell {
  padding-left: var(--paddingNone) !important;
  padding-right: var(--paddingNone) !important;
  border: none !important;
}

.customTableHover .ant-table-tbody > tr:hover > td {
  background-color: transparent !important; 
}

.customTableNoHover .ant-table-tbody > tr:hover > td {
  background: var(--bodyBg) !important; 
  transition: none !important;
}

.customTable .ant-table-tbody .ant-table-cell {
  padding-left: var(--paddingNone) !important;
  padding-right: var(--paddingMedium) !important;
}
