.columnHeading {
  color: var(--subHeadingColor);
  font-size: var(--fontSizeSmall);
  font-weight: var(--fontWeightBold);
}

.errorContainer {
  width: var(--fullWidth);
  height: var(--fullHeight);
  display: flex;
  justify-content: center;
  align-items: center;
}

.statusBox {
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radiusXLg);
  padding: var(--paddingXXXSmall) var(--paddingExtraSmall);
  width: fit-content;
}

.errorText {
  color: var(--textBold);
  font-weight: var(--fontWeightMedium);
}

.alertBox {
  max-width: var(--width_300);
  font-weight: var(--fontWeightBold);
}

.errorTextContainer {
  display: flex;
  flex-direction: column;
  gap: var(--gapXSmall);
}

.centerText {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tableCell {
  min-width: var(--width_100);
}

input::placeholder {
  color: var(--inputPlaceHolder) !important;
}

.columnHeading {
  color: var(--subHeadingColor) !important;
  display: flex;
  gap: var(--gapXSmall);
  align-items: center;
  cursor: pointer;
  align-items: center;
}

.upside {
  transform: rotate(180deg);
}

.downside {
  transform: rotate(0deg);
}

.sortintArrawContainer {
  min-width: var(--width_20);
  display: flex;
  justify-content: center;
  align-items: center;
}

.centerContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.greenText {
  color: var(--greenBtnBg, #04af55) !important;
  font-size: var(--fontSizeExtraSmall, 12px) !important;
  font-weight: var(--fontWeightBold, 600) !important;
  cursor: pointer;
}

.textAtEnd {
  display: flex;
  justify-content: flex-end;
  padding-right: var(--paddingExtraSmall, 8px);
}

.extraWidth {
  min-width: 180px;
}

.chipBg {
  background-color: var(--lightBlueBg, #f2f4fc);
  border-radius: var(--radiusLg, 8px);
  padding: 2px 6px 2px 8px;
}

.chipText {
  color: var(--textBold, #000833);
}

.chipContainer {
  display: flex;
  gap: var(--gapSmall, 16px);
  flex-wrap: wrap;
  padding-top: 8px;
}

.nonClickable {
  cursor: not-allowed;
}

.clickable {
  cursor: pointer;
}

.iconBox {
  min-width: var(--width_120);
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrowSytles {
  margin-bottom: 4px;
}

.extraWidth {
  min-width: var(--width_250, 250px) !important;
}

.asc {
  transform: rotate(180deg);
}

.desc {
  transform: rotate(0deg);
}

.iconContainer {
  display: flex;
  gap: var(--gapLarge);
}

.gap_12px {
  gap: var(--paddingMediumSmall, 12px) !important;
}
