.mainContainer {
  display: flex;
  flex-direction: column;
  gap: var(--gapMedium);
  flex: 1;
  padding-left: var(--paddingMedium);
  padding-right: var(--paddingMedium);
}

.ButtonCustomContainerStyle {
  border: var(--borderLight);
  background-color: var(--bodyBg);
  padding: var(--paddingMediumSmall) var(--paddingSmall);
  border-radius: var(--radiusLg);
}

.errorContainer {
  width: var(--fullWidth);
  height: var(--fullHeight);
  display: flex;
  justify-content: center;
  align-items: center;
}
