.statusContainer {
  gap: var(--gapXSmall);
  align-items: center;
}
.mobileContainer {
  gap: var(--gapXSmall);
}

.grayText {
  font-family: var(--fontFamilyRegular);
  font-size: var(--fontSizeSmall);
  font-weight: var(--fontWeightMedium);
  color: var(--subHeadingColor);
}

.blackText {
  font-family: var(--fontFamilyRegular);
  font-size: var(--fontSizeSmall);
  font-weight: var(--fontWeightMedium);
  color: var(--textBold);
}
