.columnHeading {
  color: var(--subHeadingColor);
  font-size: var(--fontSizeSmall);
  font-weight: var(--fontWeightBold);
}
.textEllipsis {
  max-width: var(--width_200);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.filterAndTableContainer {
  background-color: var(--blueBg);
  width: var(--fullWidth);
  display: flex;
  flex-direction: column;
  gap: var(--gapSmall);
  padding: var(--paddingMedium);
  flex: 1;
}
.tableContainer {
  border-radius: var(--radiusMLg) !important;
  overflow: hidden !important;
  border: var(--borderLight);
}
.searchIcon {
  width: var(--width_30);
  height: var(--height_30);
  padding-right: var(--paddingExtraSmall);
  padding-bottom: var(--paddingXXSmall);
}
.searchBar {
  width: var(--width_30Per);
  min-height: var(--minBtnHeight);
  border-radius: var(--radiusXLg);
  input {
    overflow: hidden;
    color: var(--inputText) !important;
    font-size: var(--fontSizeSmall) !important;
    font-weight: var(--fontWeightMedium) !important;
    min-height: var(--height_44);
    &:hover {
      border-radius: var(--radiusXLg) !important;
    }
  }
}
.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--height_50vh);
  width: var(--fullWidth);
}
.searchBarContainer {
  display: flex;
  justify-content: flex-start;
  gap: var(--gapSmall);
  position: relative;
}
.errorContainer {
  width: var(--fullWidth);
  height: var(--fullHeight);
  display: flex;
  justify-content: center;
  align-items: center;
}

.statusBox {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radiusXLg);
  padding: var(--paddingXXXSmall) var(--paddingExtraSmall);
  width: fit-content;
}

.statusContainer_success {
  background-color: var(--greenBg);
}

.statusContainer_failed {
  background-color: var(--orangeBg);
}

.statusContainer_progress {
  background-color: var(--lightBlueBg2);
}

.statusText_success {
  color: var(--greenText);
}

.statusText_failed {
  color: var(--redText);
}

.statusText_progress {
  color: var(--blueText);
}

.errorText {
  color: var(--textBold);
  font-weight: var(--fontWeightMedium);
}
.alertBox {
  max-width: var(--width_300);
  font-weight: var(--fontWeightBold);
}
.errorTextContainer {
  display: flex;
  flex-direction: column;
  gap: var(--gapXSmall);
}

.centerText {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tableCell {
  min-width: var(--width_140);
}

.arrowContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: var(--gapXXSmall);
}

.upside {
  transform: rotate(0deg);
}

.downside {
  transform: rotate(180deg);
}

.arrowDown {
  min-height: var(--height_20);
  max-height: var(--height_20);
  display: flex;
  justify-content: center;
  align-items: center;
}

.columnHeader {
  color: var(--inputPlaceHolder);
  font-size: var(--fontSizeSmall);
}

.cursor {
  cursor: pointer;
}

.disable {
  cursor: not-allowed;
}

input::placeholder {
  color: var(--inputPlaceHolder) !important;
}

@media screen and (max-width: 1023px) {
  .searchBar {
    width: var(--halfWidth);
  }
}
@media screen and (max-width: 511px) {
  .searchBarContainer {
    flex-direction: column;
  }
  .searchBar {
    width: var(--fullWidth);
    min-height: var(--height_50);
  }
  .filterBtn {
    max-width: var(--width_100);
    align-self: flex-end;
  }
}
