.columnHeading {
  color: var(--subHeadingColor);
  font-size: var(--fontSizeSmall);
  font-weight: var(--fontWeightBold);
}
.textEllipsis {
  max-width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.filterAndTableContainer {
  background-color: var(--blueBg);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--gapSmall);
  padding: var(--paddingMedium);
  flex: 1;
}
.searchIcon {
  width: 30px;
  height: 30px;
  padding-right: var(--paddingExtraSmall);
  padding-bottom: 4px;
}
.searchBar {
  width: 30%;
  min-height: 44px;
  border-radius: var(--radiusXLg);
  input {
    color: var(--inputText) !important;
    font-size: var(--fontSizeSmall) !important;
    font-weight: var(--fontWeightMedium) !important;
  }
}
.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100%;
}
.searchBarContainer {
  display: flex;
  justify-content: flex-start;
  gap: var(--gapSmall);
  position: relative;
}
.errorContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.statusBox {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radiusXLg);
  padding: 2px 8px;
}

.statusContainer_success {
  background-color: var(--lightGreenBg);
}

.statusContainer_failed {
  background-color: var(--lightRedBg);
}

.statusContainer_progress {
  background-color: var(--lightBlueBg);
}

.statusText_success {
  color: var(--greenText);
}

.statusText_failed {
  color: var(--redText);
}

.statusText_progress {
  color: var(--blueText);
}

.errorText {
  color: var(--textBold);
  font-weight: var(--fontWeightMedium);
}
.alertBox {
  max-width: 300px;
  font-weight: var(--fontWeightBold);
}
.errorTextContainer {
  display: flex;
  flex-direction: column;
  gap: var(--gapXSmall);
}

.centerText {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tableCell {
  min-width: var(--width_100);
}

input::placeholder {
  color: var(--inputPlaceHolder) !important;
}
@media screen and (max-width: 1023px) {
  .searchBar {
    width: 50%;
  }
}
@media screen and (max-width: 511px) {
  .searchBarContainer {
    flex-direction: column;
  }
  .searchBar {
    width: 100%;
    min-height: 50px;
  }
  .filterBtn {
    max-width: 100px;
    align-self: flex-end;
  }
}
