.profileDropdown {
    cursor: pointer;
    color: var(--textDefault);
    width: 100%;
}
.profileName {
    display: block;
    font-weight: var(--fontWeightBold);
    color: #0f172a;
    font-size: var(--fontSizeSmall);
}
.profileMenuName {
    border: 16px; // TODO: have to use variable
}
.profileRole {
    display: block;
    color: var(--profileColor);
    font-weight: var(--fontWeightMedium); // TODO: fix style not loading
    font-size: var(--fontSizeXSmall);
}
.profileMenuRole {
    font-size: 14px; // TODO: have to use variable
}
.downIcon {
    font-size: var(--fontSizeNormal);
    margin-left: 2px;
}
.arrowRotated {
    transform: rotate(180deg);
    transition: transform 0.3s ease-in-out;
}
.profileMenu {
    border-radius: 22px;
    width: 250px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15); // TODO: need to add box shadow using variable
    margin-top: 12px;
}
.profileMenuHeader {
    margin: 12px 0;
}
.profileList {
    font-size: var(--fontSizeSmall);
    width: 100%;
}
.logoutBtn {
    float: left;
    margin-left: 16px; // TODO: need to add marignNormal
    text-align: left;
    width: 88%;
}
.menuBtn {
    text-align: left;
}