.profileDropdown {
  cursor: pointer;
  color: var(--textDefault, #000000);
  width: 100%;
}

.profileName {
  display: block;
  font-weight: var(--fontWeightBold, 600);
  color: var(--profileTextColor, #0f172a);
  font-size: var(--fontSizeSmall, 14px);
}

.profileMenuName {
  border: var(--fontSizeNormal, 16px);
  font-size: var(--fontSizeNormal, 16px);
  font-weight: var(--fontWeightBold, 600);
}

.profileRole {
  display: block;
  color: var(--profileColor, #616c82);
  font-weight: var(--fontWeightMedium, 500);
  font-size: var(--fontSizeXSmall, 12px);
  max-width: var(--width90Per, 90%);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profileMenuRole {
  font-size: var(--fontSizeSmall, 14px);
}

.downIcon {
  font-size: var(--fontSizeNormal, 16px);
  margin-left: 2px;
}

.arrowRotated {
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
}

.profileMenu {
  border-radius: var(--sizeXXLarge, 22px);
  width: 250px;
  margin-top: var(--sizeXSmall, 12px);
  border: "1px solid #ccd0e5";
  overflow: hidden;
}

.profileMenuHeader {
  padding: var(--paddingSmall, 16px);
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.profileList {
  font-size: var(--fontSizeSmall, 14px);
  width: 100%;
}

.logoutBtn {
  float: left;
  text-align: left;
  width: 88%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: var(--fontSizeSmall, 14px);
  font-weight: var(--fontWeightBold, 500);
  gap: var(--gapSmallMedium, 12px);
  color: var(--textBold, #000833);
  padding: var(--paddingSmall, 16px);
  min-height: var(--height_46, 46px);
  &:hover {
    background-color: var(--bodyBg, #fff) !important;
  }
}

.menuBtn {
  text-align: left;
  color: var(--textBold, #000833);
  display: flex;
  align-items: center;
  font-size: var(--fontSizeSmall, 14px);
  font-weight: var(--fontWeightMedium, 500);
  gap: var(--gapSmallMedium, 12px);
  padding: 0px;
  &:hover {
    background-color: var(--bodyBg, #fff) !important;
  }
}
