.profileDropdown {
    cursor: pointer;
    color: var(--textDefault, #000000);
    width: 100%;
}
.profileName {
    display: block;
    font-weight: var(--fontWeightBold, 600);
    color: var(--profileTextColor, #0f172a);
    font-size: var(--fontSizeSmall, 14px);
}
.profileMenuName {
    border: var(--fontSizeNormal, 16px); // TODO: have to use variable
}
.profileRole {
    display: block;
    color: var(--profileColor, #616c82);
    font-weight: var(--fontWeightMedium, 500); // TODO: fix style not loading
    font-size: var(--fontSizeXSmall, 12px);
}
.profileMenuRole {
    font-size: var(fontSizeSmall, 14px); // TODO: have to use variable
}
.downIcon {
    font-size: var(--fontSizeNormal, 16px);
    margin-left: 2px;
}
.arrowRotated {
    transform: rotate(180deg);
    transition: transform 0.3s ease-in-out;
}
.profileMenu {
    border-radius: var(--sizeXXLarge, 22px);
    width: 250px;
    box-shadow: var(--profileBoxShadow, 0px 4px 8px rgba(0, 0, 0, 0.15)); // TODO: need to add box shadow using variable
    margin-top: var(--sizeXSmall, 12px);
}
.profileMenuHeader {
    margin: var(--sizeXSmall, 12px) 0;
}
.profileList {
    font-size: var(--fontSizeSmall, 14px);
    width: 100%;
}
.logoutBtn {
    float: left;
    margin-left: 16px; // TODO: need to add marignNormal
    text-align: left;
    width: 88%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--textBold, #000803);
}
.menuBtn {
    text-align: left;
    color: var(--textBold, #000803);
}
