.mainContainer {
  padding: var(--paddingMedium);
  gap: var(--gapMedium);
}

.topSectionStyle {
  border: var(--borderLight);
  padding: var(--paddingMedium);
  display: flex;
  flex: 1;
  background-color: var(--bodyBg);
  border-radius: var(--radiusMLg);
  justify-content: space-between;
  flex-wrap: wrap;
  gap: var(--gapMedium);
}

.bottomSectionStyle {
  gap: var(--gapMedium);
  width: var(--widthHalfViewPort);
}

.formContainer {
  border: var(--borderLight);
  padding: var(--paddingMedium);
  display: flex;
  flex: 1;
  background-color: var(--bodyBg);
  border-radius: var(--radiusMLg);
  min-height: 210px;
}

.buttonContainer {
  align-items: center;
  gap: var(--gapXSmall);
  cursor: pointer;
}

.buttonStyles {
  min-height: var(--height_44);
  background-color: var(--bodyBg);
  &:hover {
    background-color: var(--bodyBg) !important;
    color: var(--btnText) !important;
  }
}

.mobileButtonStyles {
  min-height: var(--height_44);
  background-color: var(--bodyBg);
  padding: var(--paddingSmall);
  &:hover {
    background-color: var(--bodyBg) !important;
    color: var(--btnText) !important;
  }
}

.textStyle {
  font-size: var(--fontSizeSmall);
  font-weight: var(--fontWeightMedium);
  color: var(--textBold);
}

.saveButtonTextStyles {
  font-size: var(--fontSizeSmall);
  font-weight: var(--fontWeightMedium);
  color: var(--bodyBg);
}

.title {
  font-size: var(--fontSizeNormal);
  font-weight: var(--fontWeightBold);
  color: var(--textBold);
}

.customStyle {
  min-height: var(--height_44);
  max-width: var(--width_125);
}

.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--height_50vh);
  width: var(--fullWidth);
}

.rowtext {
  color: var(--textBold);
  font-size: var(--fontSizeSmall);
  font-weight: var(--fontWeightMedium);
}

.gridStyle {
  border: var(--borderLight);
  display: flex;
  flex: 1;
  background-color: var(--bodyBg);
  border-radius: var(--radiusMLg);
}

.table {
  flex: 1;
  width: var(--fullWidth);
}

.gridItem {
  padding: var(--paddingMedium);
}

.blackText {
  font-size: var(--fontSizeSmall);
  font-weight: var(--fontWeightMedium);
  color: var(--textBold);
}

.grayText {
  font-size: var(--fontSizeExtraSmall);
  font-weight: var(--fontWeightMedium);
  color: var(--subHeadingColor);
}

.redText {
  color: var(--error);
}