.table {
  flex: 1;
  width: var(--fullWidth);
}

.rowtext {
  color: var(--textBold);
  font-size: var(--fontSizeSmall);
  font-weight: var(--fontWeightMedium);
}


.customDateContainerStyles {
  width: var(--width_160);;
}

.inputNumbeCustomStyles {
  width: var(--width_160);

}

.inputStyle {
  width: var(--width_160);
  height: var(--height_44);
  display: flex;
  align-items: center;
}

.joinedCustomContainerStyles {
  height: var(--height_44);
  display: flex;
  align-items: center;
  width: 91px;
  border-top-right-radius: var(--radiusNone);
  border-bottom-right-radius: var(--radiusNone);
}

.inputNumberStyle {
  height: var(--height_44);
  width: 91px;
  display: flex;
  align-items: center;
  border-top-left-radius: var(--radiusNone);
  border-bottom-left-radius: var(--radiusNone);
}

.tableHeader {
  font-weight: var(--fontWeightMedium);
  color: var(--inputPlaceHolder) !important;
  font-size: var(--fontSizeExtraSmall);
}

.redText {
  font-weight: var(--fontWeightMedium);
  color: var(--error) !important;
  font-size: var(--fontSizeExtraSmall);
}

.twoJointContainer {
  gap: var(--gapXLarge);
}

.imageStyle {
  cursor: pointer;
  height: var(--height_24);
  width: var(--width_24);
}
