.table {
  flex: 1;
  width: var(--fullWidth);
}

.rowtext {
  color: var(--textBold);
  font-size: var(--fontSizeSmall);
  font-weight: var(--fontWeightMedium);
}

.container {
  width: var(--fullWidth);
  border-radius: var(--radiusXLg);
  border: var(--borderLight);
  overflow: hidden;
}

.sectionStyle {
  width: 50%;
}

.inputStyle {
  height: var(--height_44);
  width: var(--fullWidth);
  display: flex;
  align-items: center;
}

.joinedCustomContainerStyles {
  height: var(--height_44);
  display: flex;
  align-items: center;
  border-top-right-radius: var(--radiusNone);
  border-bottom-right-radius: var(--radiusNone);
}

.inputNumberStyle {
  height: var(--height_44);
  display: flex;
  align-items: center;
  border-top-left-radius: var(--radiusNone);
  border-bottom-left-radius: var(--radiusNone);
}

.tableHeader {
  font-weight: var(--fontWeightMedium);
  color: var(--inputPlaceHolder) !important;
  font-size: var(--fontSizeExtraSmall);
}

.redText {
  font-weight: var(--fontWeightMedium);
  color: var(--error) !important;
  font-size: var(--fontSizeExtraSmall);
}

.twoJointContainer {
  gap: var(--gapXLarge);
}

.imageStyle {
  cursor: pointer;
  height: var(--height_24);
  width: var(--width_24);
}

.editContainer {
  width: var(--fullWidth);
  display: flex;
  flex: 1;
}

.customColumnStyle {
  width: var(--fullWidth);
}
