.customTable .ant-table-thead > tr > th {
  background-color: var(--bodyBg) !important;
  padding: var(--paddingNone) !important;
  border-bottom: none !important;
}

.customTable .ant-table-tbody > tr > td {
  vertical-align: top;
  border-bottom: none !important;
  padding-top: var(--paddingNone) !important;
  padding-bottom: var(--paddingMediumSmall) !important;
}

.customTable .ant-table-thead > tr > th .ant-table-cell {
  padding-left: var(--paddingNone) !important;
  padding-right: var(--paddingNone) !important;
  border: none !important;
}
.customTableHover .ant-table-tbody > tr:hover > td {
  background-color: transparent !important; 
}

.customTableNoHover .ant-table-tbody > tr:hover > td {
  background:var(--bodyBg) !important; 
  transition: none !important;
}

.customTable .ant-table-tbody .ant-table-cell {
  padding-left: var(--paddingNone) !important;
  padding-right: var(--paddingMedium) !important;
}

.ant-input-number-disabled {
  color: var(--textBold) !important;
}

.ant-input[disabled] {
  color: var(--textBold) !important;
}

.ant-picker-input > input {
  color: var(--textBold) !important;
  background-color: var(--bodyBg) !important;
  font-weight: var(--fontWeightMedium) !important;
}

.ant-picker-disabled,
.ant-picker-input > input[disabled] {
  color: var(--textBold) !important;
  background-color: var(--bodyBg) !important;
}

.ant-input-number input::placeholder {
  font-family: var(--fontFamilyRegular) !important;
  font-size: var(--fontSizeSmall) !important;
  font-weight: var(--fontWeightMedium) !important;
  color: var(--inputPlaceHolder) !important;
}

.ant-input-number-handler-wrap {
  opacity: 1 !important; 
  visibility: visible !important; 
}

.ant-input-number-input-wrap input{
  color: var(--textBold) !important;
}

.ant-select-single.ant-select-lg:not(.ant-select-customize-input) .ant-select-selector {
  padding-left: var(--paddingSmall);
}

.ant-table-tbody > tr > td{
  vertical-align: top;
}



