.customContainerStyles {
  flex: 1;
  width: var(--fullWidth);
}

.grayText {
  font-family: var(--fontFamilyRegular);
  font-size: var(--fontSizeExtraSmall);
  font-weight: var(--fontWeightMedium);
  color: var(--subHeadingColor);
}

.gridItem {
  padding-bottom: var(--paddingMedium);
  gap: var(--gapXXSmall);
}

.gridDropdownItem {
  padding-bottom: var(--paddingMedium);
}

.heading {
  color: var(--textDark);
  font-size: var(--fontSizeNormal);
  font-weight: var(--fontWeightBold);
}

.inputLabel {
  color: var(--textBold);
  font-size: var(--fontSizeSmall);
  font-weight: var(--fontWeightMedium);
}

.input {
  color: var(--textBold) !important;
  font-size: var(--fontSizeSmall);
  font-weight: var(--fontWeightMedium);
  padding-left: var(--paddingSmall);
  padding-right: var(--paddingSmall);
  padding-top: var(--paddingExtraSmall);
  padding-bottom: var(--paddingExtraSmall);
  border-radius: var(--radiusLg);
  border: var(--borderLight);
  background-color: var(--bodyBg);
  &::placeholder {
    color: var(--textBold) !important;
  }
}

.redText {
  color: var(--error);
}

.valueText{
  font-size: 14px;
  font-weight: var(--fontWeightMedium);
}
