.container {
  display: flex;
  flex-direction: column;
  flex-grow: unset;
  align-content: flex-start;
}

.inputLabelContainer {
  display: flex;
  gap: var(--gapXXSmall, 4px);
  padding-bottom: 4px;
}

.errorText {
  color: var(--error, #D93400);
  font-weight: var(--fontWeightMedium, 500);
  font-size: var(--fontSizeExtraSmall, 12px);
  margin-top: var(--marginXXSmall, 4px);
  opacity: 0;
}

.showError {
  opacity: 1;
}

.messageText {
  margin-top: var(--marginSmall, 8px);
}

.formContainer {
  margin-bottom: 0px;
}

.inputField {
  min-height: var(--height_44, 44px) !important;
  min-width: 100%;
  color: var(--inputText, #000833) !important;
  font-size: var(--fontSizeNormal, 16px);
  font-weight: var(--fontWeightMedium, 500) !important;

  &::placeholder {
    color: var(--inputPlaceHolder, #616C82) !important;
  }
}

.mobileInput {
  min-width: auto;
}

.suffixElement {
  cursor: pointer;
}

.mobile {
  display: flex;
  gap: var(--gapXSmall, 8px);
  background-color: var(--bodyBg, #ffffff);
}

.selectInput {
  height: var(--height_44);
  color: var(--textBold);
  font-size: var(--fontSizeSmall);
  font-weight: var(--fontWeightMedium) !important;
  width: var(--fullWidth);
}

.selectOptionsMobileStyles {
  min-width: 100px;
}

.inputNumberStyles {
  min-height: var(--height_44, 44px);
  min-width: 100%;
  color: var(--inputText, #000833) !important;
  font-size: var(--fontSizeNormal, 16px);
  font-weight: var(--fontWeightMedium, 500);
  border: var(--borderLight, 1px solid #ccd0e5);
  &::placeholder {
    color: var(--inputPlaceHolder, #616C82) !important;
  }
}

.errorInput {
  border: var(--borderError, 1px solid #D93400) !important;
}

.selectBoxError {
  :global {
    .ant-select-selector {
      border: var(--borderError) !important;
    }
  }
}
