.container {
  display: flex;
  flex-direction: column;
  flex-grow: unset;
  align-content: flex-start;
}

.inputLabelContainer {
  display: flex;
  gap: var(--gapXXSmall);
  padding-bottom: 4px;
}

.errorText {
  color: var(--error);
  font-weight: var(--fontWeightMedium);
  font-size: var(--fontSizeExtraSmall);
  margin-top: var(--marginXXSmall);
  opacity: 0;
}

.showError {
  opacity: 1;
}

.messageText {
  margin-top: var(--marginSmall);
}

.formContainer {
  margin-bottom: 0px;
}

.inputField {
  min-height: var(--height_44) !important;
  min-width: 100%;
  color: var(--inputText) !important;
  font-size: var(--fontSizeNormal);
  font-weight: var(--fontWeightMedium, 500) !important;

  &::placeholder {
    color: var(--inputPlaceHolder) !important;
  }
}

.mobileInput {
  min-width: auto;
}

.suffixElement {
  cursor: pointer;
}

.mobile {
  display: flex;
  gap: var(--gapXSmall);
  background-color: var(--bodyBg);
}

.selectInput {
  height: var(--height_44);
  color: var(--textBold);
  font-size: var(--fontSizeSmall);
  font-weight: var(--fontWeightMedium) !important;
  width: var(--fullWidth);
}

.selectOptionsMobileStyles {
  min-width: 100px;
}

.inputNumberStyles {
  min-height: var(--height_44);
  min-width: 100%;
  color: var(--inputText) !important;
  font-size: var(--fontSizeNormal);
  font-weight: var(--fontWeightMedium);
  border: var(--borderLight);
  &::placeholder {
    color: var(--inputPlaceHolder) !important;
  }
}

.errorInput {
  border: var(--borderError) !important;
}
