.mainContainer {
  gap: var(--gapSmall);
}

.workExpContainer {
  gap: var(--gapSmallMedium);
}

.addedExperience {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: var(--gapSmall);
}

.alignCenter {
  align-items: center;
}

.addMinusIcon {
  margin-left: var(--marginLarge);
}

.checkbox {
  margin-left: var(--gapSmall);
}

.customContainerStyles {
  flex: 1;
  width: var(--fullWidth);
}

.columnCellContainer {
  gap: var(--gapMedium);
}

.useMoreStyles {
  align-items: center;
  gap: var(--gapSmall);
}

.dash {
  height: 1px;
  width: 8px;
  background-color: var(--borderColor);
  margin-left: var(--gapXSmall);
  margin-right: var(--gapXSmall);
}

.grayText {
  font-size: var(--fontSizeExtraSmall);
  font-weight: var(--fontWeightMedium);
  color: var(--subHeadingColor);
}

.blackText {
  font-size: var(--fontSizeSmall);
  font-weight: var(--fontWeightMedium);
  color: var(--textBold);
}

.blackBoldText {
  font-size: var(--fontSizeSmall);
  font-weight: var(--fontWeightBold);
  color: var(--textBold);
}

.heading {
  margin-bottom: var(--gapSmallMedium);
  justify-content: space-between;
}

.headingText {
  font-size: var(--fontSizeNormal);
  font-weight: var(--fontWeightBold);
  color: var(--textBold);
}

.customInputNumberStyles {
  color: var(--textBold) !important;
  font-size: var(--fontSizeSmall);
  padding: 9px 5px;
  font-weight: var(--fontWeightMedium);
  border-radius: var(--radiusLg);
  border: var(--borderLight);
  background-color: var(--bodyBg);
  &::placeholder {
    color: var(--textBold) !important;
  }
}

.inputLabel {
  color: var(--textBold);
  font-size: var(--fontSizeSmall);
  font-weight: var(--fontWeightMedium);
}

.redText {
  color: var(--error);
}
