.container {
  display: flex;
  padding: var(--paddingXXXSmall) var(--paddingExtraSmall);
  justify-content: center;
  align-items: center;
  border-radius: var(--radiusMLg);
}

.text {
  font-size: var(--fontSizeExtraSmall);
  font-weight: var(--fontWeightMedium);
}

.statusContainer_success {
  background-color: var(--lightGreenBg);
}

.statusContainer_failed {
  background-color: var(--lightRedBg);
}

.statusContainer_progress {
  background-color: var(--lightBlueBg2);
}

.defaultStatusStyles {
  font-size: 12px;
  line-height: 18px;
}

.statusText_success {
  color: var(--greenText);
}

.statusText_failed {
  color: var(--redText);
}

.statusText_progress {
  color: var(--blueText);
}
