.container {
  display: flex;
  padding: var(--paddingXXXSmall, 2px) var(--paddingExtraSmall, 8px);
  justify-content: center;
  align-items: center;
  border-radius: var(--radiusMLg, 16px);
}

.text {
  font-size: var(--fontSizeExtraSmall, 12px);
  font-weight: var(--fontWeightMedium, 500);
}
