.container {
  border: var(--borderLight);
  border-radius: var(--radiusMLg);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 40vw;
  max-width: var(--width_400);
  overflow: hidden;
  position: relative;
}

.userImage {
  width: var(--fullWidth);
  object-fit: contain;
  max-height: var(--height_184, 184px) !important;
  min-height: var(--height_184, 184px) !important;
}

.trashAndIconContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--paddingSmall);
  width: var(--fullWidth);
}

.trashIcon {
  width: var(--width_20);
  height: var(--height_20);
  cursor: pointer;
  position: absolute;
  right: 0;
  margin-right: 4px;
  margin-top: 4px;
}

.text {
  color: var(--linkColor);
  font-size: var(--fontSizeSmall);
  font-weight: var(--fontWeightBold);
}

@media screen and (max-width: 767px) {
  .container {
    max-width: none;
    width: var(--fullWidth);
  }
}
