.filterAndTableContainer {
  background-color: var(--blueBg);
  width: var(--fullWidth);
  display: flex;
  flex-direction: column;
  gap: var(--gapSmall);
  padding: var(--paddingMedium);
  flex: 1;
}

.filterAndButtonContainer {
  display: flex;
  justify-content: space-between;
  gap: var(--gapSmall);
}

.tableContainer {
  border-radius: var(--radiusMLg) !important;
  overflow: hidden !important;
  border: var(--borderLight);
}

.searchIcon {
  width: var(--width_30);
  height: var(--height_30);
  padding-right: var(--paddingExtraSmall);
  padding-bottom: var(--paddingXXSmall);
}

.searchBar {
  width: var(--width_30Per);
  min-height: var(--minBtnHeight);
  border-radius: var(--radiusXLg);
  input {
    color: var(--inputText) !important;
    font-size: var(--fontSizeSmall) !important;
    font-weight: var(--fontWeightMedium) !important;
  }
}

.searchBarContainer {
  display: flex;
  justify-content: flex-start;
  gap: var(--gapSmall);
  position: relative;
  width: var(--fullWidth);
}

input::placeholder {
  color: var(--inputPlaceHolder) !important;
}

.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--height_50vh);
  width: var(--fullWidth);
}

@media screen and (max-width: 1023px) {
  .searchBar {
    width: var(--halfWidth);
  }
}
@media screen and (max-width: 511px) {
  .searchBarContainer {
    flex-direction: column;
  }
  .searchBar {
    width: var(--fullWidth);
    min-height: var(--height_50);
  }
  .filterBtn {
    max-width: var(--width_100);
    align-self: flex-end;
  }
}
