.mainContainer {
  border-radius: var(--radiusXLg);
}

.topContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--fullWidth, 100%);
  padding: var(--paddingMedium, 24px);
}

.moduleText {
  color: var(--textBold, #000833);
  font-size: var(--fontSizeLarge, 18px);
  font-weight: var(--fontWeightBold, 600);
}

.crossIcon {
  cursor: pointer;
}

.assigneeContainer {
  padding: var(--gapMedium, 24px);
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--gapSmall, 16px);
}

.assigneeRow {
  flex-grow: 0;
}

.assigneeText {
  color: var(--textBold, #000833);
  font-size: var(--fontSizeSmall, 14px);
  font-weight: var(--fontWeightMedium, 500);
  white-space: nowrap;
  max-width: 18vw;
  overflow: hidden;
  text-overflow: ellipsis;
}

.customStyle {
  padding: var(--paddingMediumSmall, 12px);
  min-height: var(--height_20, 20px);
}

@media screen and (max-width: 400px) {
  .assigneeText {
    max-width: var(--widthViewPort_65, 65vw);
  }
}

@media screen and (max-width: 740px) {
  .assigneeText {
    max-width: var(--widthHalfViewPort, 50vw);
  }
}

@media screen and (max-width: 1080px) {
  .assigneeText {
    max-width: var(--widthViewPort_35, 35vw);
  }
}
