.mainContainer {
  padding: var(--paddingMedium);
  gap: var(--gapMedium);
}
.customTimeStyle {
  width: var(--fullWidth);
}
.customContainerStyles {
  justify-content: space-between;
}

.customStyle {
  gap: var(--gapMedium);
}

.customLabelStyles {
  color: var(--inputPlaceHolder);
  font-weight: var(--fontWeightMedium);
  font-size: var(--fontSizeExtraSmall);
}

.buttonContainer {
  align-items: center;
  gap: var(--gapXSmall);
  cursor: pointer;
}

.buttonStyles {
  background-color: var(--bodyBg);
  &:hover {
    background-color: var(--bodyBg) !important;
    color: var(--btnText) !important;
  }
}

.mobileButtonStyles {
  background-color: var(--bodyBg);
  padding: var(--paddingSmall);
  &:hover {
    background-color: var(--bodyBg) !important;
    color: var(--btnText) !important;
  }
}

.textStyle {
  font-size: var(--fontSizeSmall);
  font-weight: var(--fontWeightMedium);
  color: var(--textBold);
}

.saveButtonTextStyles {
  font-size: var(--fontSizeSmall);
  font-weight: var(--fontWeightMedium);
  color: var(--bodyBg);
}

.tabContainer {
  gap: var(--gapSmall);
}

.btnIconStyles {
  width: var(--width_20) !important;
}

.btnCustomStyles {
  min-width: var(--width_100);
  padding: var(--paddingNone);
  min-height: 0px;
  border-width: 0px;
  box-shadow: none;
}

.editBtnCustomStyles {
  min-width: var(--width_100);
  padding: var(--paddingNone);
  min-height: 0px;
  border-width: 0px;
  box-shadow: none;
  background-color: var(--blueBg);
}

.customContainerStyle {
  padding-bottom: var(--paddingNone);
}

.tabEdit {
  padding-right: var(--paddingMedium);
}

.tableDataContainer {
  background-color: var(--bodyBg);
  border: var(--borderLight);
  border-radius: var(--radiusMLg) !important;
}
