.mainContainer {
  padding: var(--paddingMedium);
  gap: var(--gapMedium);
}
.customTimeStyle {
  width: var(--fullWidth);
}
.customContainerStyles {
  justify-content: space-between;
}

.customStyle {
  gap: var(--gapMedium);
  align-items: flex-start;
}

.customLabelStyles {
  color: var(--inputPlaceHolder);
  font-weight: var(--fontWeightMedium);
  font-size: var(--fontSizeExtraSmall);
}

.buttonContainer {
  align-items: center;
  gap: var(--gapXSmall);
  cursor: pointer;
}

.buttonStyles {
  background-color: var(--bodyBg);
  &:hover {
    background-color: var(--bodyBg) !important;
    color: var(--btnText) !important;
  }
}

.mobileButtonStyles {
  background-color: var(--bodyBg);
  padding: var(--paddingSmall);
  &:hover {
    background-color: var(--bodyBg) !important;
    color: var(--btnText) !important;
  }
}

.textStyle {
  font-size: var(--fontSizeSmall);
  font-weight: var(--fontWeightMedium);
  color: var(--textBold);
}

.saveButtonTextStyles {
  font-size: var(--fontSizeSmall);
  font-weight: var(--fontWeightMedium);
  color: var(--bodyBg);
}

.tabContainer {
  gap: var(--gapSmall);
}

.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--height_50vh);
  width: var(--fullWidth);
}
