// TODO: use var here
.mainContainer {
  background-color: white;
  padding: 24px;
  border-radius: 12px;
}

.containerStyles {
  padding: 24px;
  padding-bottom: 40px;
}

.imageStyle {
  height: 48px;
  width: 48px;
  border-radius: 48px;
}

.middleSectionStyle {
  margin-top: 20px;
  margin-bottom: 32px;
  gap: 5px;
}

.bottomSectionStyle {
  justify-content: space-between;
  gap: 12px;
}

.cancelButton {
  border-color: grey;
  border-width: 0.5px;
  padding: 12px;
  border-radius: 8px;
  width: 140px;
  align-items: center;
  cursor: pointer;
}

.logoutButton {
  background-color: yellow;
  padding: 12px;
  border-radius: 8px;
  width: 140px;
  align-items: center;
  cursor: pointer;
}

.buttonText {
  color: black;
  font-size: 14px;
  font-weight: 500;
  min-height: 48px;
  width: 100%;
  &:hover {
    color: black !important;
    border: 1px solid grey !important;
  }
}

.headingText {
  color: black;
  font-size: 20px;
  font-weight: 600;
}

.subHeadingText {
  font-size: 14px;
  font-weight: 500;
  width: 50%;
}

.imageContainerStyle {
  background-color: white;
  border-radius: 200px;
  border-width: 5px;
  border-color: white;
}

.initialContainerStyle {
  background-color: white;
  border-radius: 200px;
  height: 104px;
  width: 104px;
}

.profileMainContainer {
  background: linear-gradient(to bottom, silver 40%, white 30%);
  padding: 24px;
  border-radius: 12px;
  gap: 32px;
  min-width: 500px;
}

.secondSectionStyle {
  gap: 5px;
  align-items: center;
  background-color: white;
  text-align: center;
  width: 100%;
}

.thirdSectionStyle {
  gap: 5px;
  align-items: center;
}

.lastSectionStyle {
  align-items: center;
  gap: 8px;
}

.crossIconStyle {
  min-height: 24px;
  max-height: 24px;
  min-width: 24px;
  max-width: 24px;
  cursor: pointer;
}

.crossStyle {
  align-self: flex-end;
  margin-bottom: 40px;
}

.headingStyle {
  justify-content: space-between;
}

.changeProfileContainer {
  background-color: white;
  padding: 24px;
  border-radius: 12px;
  gap: 40px;
}

.profileImageStyle {
  height: 152px;
  width: 152px;
  border-radius: 152px;
}

.emailAndMobileNoContainer {
  display: flex;
  gap: 8px;
  width: 100%;
}

.rightAlign {
  width: 50%;
  text-align: end;
}

.leftAlign {
  width: 50%;
  text-align: start;
}

.divider {
  min-height: 5px;
  min-width: 1px;
  background-color: grey;
}

.accessAndDateContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: center;
}

.innerContainer-accessAndDateContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.textAndValueContainer {
  display: flex;
  gap: 8px;
}

.inside-twoFactorContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.chipsContainer {
  display: flex;
  gap: 8px;
}

.darkText {
  color: var(--textBold, #000803);
  font-weight: 500;
}

.chipsBg {
  background-color: #f2f4fc;
  border-radius: 16px;
  padding: 4px 8px;
}

.greyText {
  color: var(--On-surface, #616c82);
  font-size: 14px;
  font-weight: 500;
}

.cursorPointer {
  cursor: pointer;
}

.chipsBox {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  padding-top: 16px;
}

.padding24px {
  padding: 24px;
}

.topHeadingStyles {
  border-bottom: 1px solid grey;
}

.imageBox {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
