.mainContainer {
  display: flex;
  flex-grow: 1;
  overflow: auto;
}

.clickable {
  cursor: pointer;
  font-size: var(--fontSizeSmall);
  color: var(--textBold);
  font-weight: var(--fontWeightMedium);
}

.nonclickable {
  font-size: var(--fontSizeSmall);
  color: var(--subHeadingColor);
  font-weight: var(--fontWeightMedium);
}
