.blackText {
  font-family: var(--fontFamilyRegular);
  font-size: var(--fontSizeNormal);
  font-weight: var(--fontWeightBold);
  color: var(--textBold);
}

.buttonStyles {
  padding: 0px var(--paddingExtraSmall);
  font-size: var(--fontSizeSmall);
}

.centreContainer {
  background-color: var(--bodyBg);
  padding: var(--paddingMedium);
  border-radius: var(--radiusMLg);
  border: var(--borderLight);
  height: var(--height_350);
}

.chipContainer {
  display: flex;
  align-items: center;
  background-color: var(--lightBlueBg);
  border-radius: var(--gapSmall);
  padding: var(--gapXXSmall) var(--gapSmallMedium);
}

.chipText {
  font-size: var(--fontSizeSmall);
  font-weight: var(--fontWeightMedium);
  color: var(--textBold);
}

.editIcon {
  width: var(--lineHeightNormal);
  height: var(--lineHeightNormal);
}

.editContainer {
  align-items: center;
  gap: var(--gapXSmall);
  cursor: pointer;
}

.emptyMiddleContainer {
  gap: var(--marginLarge);
  align-items: center;
  justify-content: center;
}

.grayText {
  font-family: var(--fontFamilyRegular);
  font-size: var(--fontSizeSmall);
  font-weight: var(--fontWeightMedium);
  color: var(--subHeadingColor);
}

.headerContainer {
  justify-content: space-between;
}

.middleContainer {
  gap: 40%;
}

.middleContainerText {
  font-family: var(--fontFamilyRegular);
  font-size: var(--fontSizeNormal);
  font-weight: var(--fontWeightMedium);
  color: var(--textBold);
}

.redText {
  color: var(--error);
}

.selectedItemsContainer {
  padding-top: var(--paddingXXSmall);
  gap: var(--paddingXXSmall);
  display: flex;
  flex-wrap: wrap;
}

.text {
  font-family: var(--fontFamilyRegular);
  font-size: var(--fontSizeSmall);
  font-weight: var(--fontWeightMedium);
  color: var(--textBold);
}
