.headerContainer {
  padding: var(--paddingMedium);
  width: var(--fullWidth);
}


@media screen and (max-width: 1535px) {
  .headerResponsiveStyle {
    font-size: var(--fontSizeXXlarge);
  }

  .btnCustomStyles {
    font-size: var(--fontSizeExtraSmall);
  }
}

@media screen and (max-width: 767px) {
  .headerResponsiveStyle {
    font-size: var(--fontSizeXlargeMedium);
  }

  .btnCustomStyles {
    min-height: var(--height_44);
  }
}

@media screen and (max-width: 363px) {
  .headerResponsiveStyle {
    font-size: var(--fontSizeLarge);
  }

  .btnCustomStyles {
    padding: var(--paddingExtraSmall) var(--paddingMediumSmall);
  }
}
  