.saveAndCancelBtnContainer {
  display: flex;
  gap: var(--gapSmall, 16px);
  padding: var(--paddingMedium) var(--paddingSmall);
  justify-content: flex-end;
}

.cancelBtn {
  display: flex;
  padding: var(--paddingMediumSmall, 12px) var(--paddingSmall, 16px);
  justify-content: center;
  align-items: center;
  gap: var(--gapXSmall, 8px);
  min-height: var(--height_44, 44px);
  color: var(--textBold);
  font-size: var(--fontSizeSmall, 14px);
  font-weight: var(--fontWeightMedium, 500);
  border: var(--borderLight, 1px solid #ccd0e5) !important;
  &:hover {
    color: var(--textBold) !important;
    border: var(--borderLight, 1px solid #ccd0e5) !important;
  }
}

.saveBtn {
  font-size: var(--fontSizeSmall, 14px);
  font-weight: var(--fontWeightMedium, 500);
  min-height: var(--height_44, 44px);
  background-color: var(--greenBtnBg, #04af55);
  border: none !important;
  &:hover {
    border: none !important;
  }
}

@media (max-width: 511px) {
  .cancelBtn {
    min-height: var(--height_44);
  }
}
