.container {
    padding: var(--paddingMedium, 24px);
    background-color: var(--bodyBg, #ffffff);
    display: flex;
    flex-direction: column;
    gap: var(--gapLarge, 32px);
    border-radius: var(--radiusXLg, 12px);
    width: var(--widthViewPort_35, 35vw);
    max-width: var(--width_500, 500px);
    border: var(--borderLight, #ccd0e5);
  }
  
  .topSection {
    display: flex;
    flex-direction: column;
    gap: var(--gapMedium, 24px);
  }
  
  .errorIcon {
    width: var(--width_48, 48px);
    height: var(--height_48, 48px);
  }
  
  .headingAndSubHeadingContainer {
    display: flex;
    flex-direction: column;
    gap: var(--gapXSmall, 8px);
  }
  
  .errorHeading {
    color: var(--textBold, #000833);
    font-size: var(--fontSizeXlarge, 20px);
    font-weight: var(--fontWeightBold, 600);
  }
  
  .errorSubHeading {
    color: var(--subHeadingColor, #616C82);
    font-size: var(--fontSizeSmall, 14px);
    font-weight: var(--fontWeightMedium, 500);
  }

  .btnWrapper {
    display: flex;
    flex-direction: row;
    gap: var(--gapSmall, 16px)
  }
  
  .btn {
    background-color: var(--error, #D93400);
    min-height: var(--height_50, 50px);
    color: var(--headerBg, #f5f5f5);
    font-size: var(--fontSizeSmall, 14px);
    font-weight: var(--fontWeightMedium, 500);
    display: flex;
    padding: var(--paddingMediumSmall, 12px) var(--paddingSmall, 16px);
    justify-content: center;
    align-items: center;
    gap: var(--gapXSmall, 8px);
    flex: 1 0 0;
    border-radius: var(--radiusLg, 8px);
    &:hover {
      background-color: var(--error, #D93400) !important;
      color: var(--headerBg, #f5f5f5) !important;
    }
  }

  .btnNo {
    min-height: var(--height_50, 50px);
    color: var(--textBold, #000833);
    font-size: var(--fontSizeSmall, 14px);
    font-weight: var(--fontWeightMedium, 500);
    display: flex;
    padding: var(--paddingMediumSmall, 12px) var(--paddingSmall, 16px);
    justify-content: center;
    align-items: center;
    gap: var(--gapXSmall, 8px);
    flex: 1 0 0;
    border-radius: var(--radiusLg, 8px);
    &:hover {
      background-color: var(--error, #D93400) !important;
      color: var(--headerBg, #f5f5f5) !important;
    }
  }
  
  .btnContainer {
    width: var(--fullWidth, 100%);
  }
  
  @media screen and (max-width: 767px) {
    .btn {
      min-height: var(--height_40, 40px);
      font-size: var(--fontSizeExtraSmall, 2px);
    }
    .errorHeading {
      font-size: var(--fontSizeNormal, 16px);
    }
    .errorSubHeading {
      font-size: var(--fontSizeExtraSmall, 12px);
    }
    .container {
      padding: var(--paddingSmall, 16px);
      width: var(--widthViewPort_65, 65vw);
    }
  }
  