.noDataAssignee {
  padding: var(--gapMedium, 24px);
  flex: 1;
  max-height: var(--height_50vh, 50vh);
  min-height: var(--height_40vh, 40vh);
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.noDataFound {
  color: var(--textBold, #000833);
  font-size: var(--fontSizeNormal, 16px);
  font-weight: var(--fontWeightBold, 600);
}

.noDataFoundContainer {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.errorContainer {
  width: var(--fullWidth);
  height: var(--fullHeight);
  display: flex;
  justify-content: center;
  align-items: center;
}

.customSrollBar-blue-bg::-webkit-scrollbar {
  display: block;
  width: var(--width_10, 10px);
}

.customSrollBar-blue-bg::-webkit-scrollbar-track {
  box-shadow: var(--boxShadowOne);
  --webkit-box-shadow: var(--boxShadowOne);
  width: var(--width_3, 3px);
  border-radius: var(--radiusXLg, 12px);
  background-color: var(--blackBg, #000833);
}

.customSrollBar-blue-bg::-webkit-scrollbar-thumb {
  border-radius: var(--radiusXLg, 12px);
  background-color: var(--letGrey7, #bfbfbf);
}

.headerBox {
  border-top: var(--borderLight);
  border-bottom: var(--borderLight);
  width: var(--fullWidth);
  padding: var(--paddingMedium);
}

.cardContainer {
  background-color: var(--bodyBg);
  padding: var(--paddingMedium);
  border-radius: var(--radiusMLg);
  border: var(--borderLight);
  gap: var(--gapMedium);
}

.headingText {
  font-size: var(--fontSizeNormal);
  font-weight: var(--fontWeightBold);
  color: var(--textBold);
}

.redText {
  color: var(--redText);
}

.commonLabelStyle{
  font-size: var(--fontSizeExtraSmall);
  font-weight: var(--fontWeightMedium);
  color: var(--subHeadingColor);
}

.commonSubHeadingStyle{
  font-size: var(--fontSizeSmall);
  font-weight: var(--fontWeightMedium);
  margin-top: var(--marginSmall);
}
