.headerContainer {
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--border);
    padding-bottom: var(--paddingSmall);
    padding-right: var(--padding4px);
    color: black;
}
.notificationIcon {
    font-size: var(--fontSize22px);
    cursor: pointer;
}