.headerContainer {
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--border);
    padding-bottom: 14px;
    color: black;
}
.notificationIcon {
    font-size: 22px;
    cursor: pointer;
}