.container {
  padding: var(--paddingMedium);
  padding-bottom: 0px;
  gap: var(--gapMedium);
  border-top: var(--borderLight);
}

.heading {
  color: var(--textBold);
  font-size: var(--fontSizeHeading);
  font-weight: var(--fontWeightBold);
}

.tabsContainer {
  display: flex;
  gap: var(--gapMedium);
  cursor: pointer;
}

.box {
  padding: var(--paddingExtraSmall) 0px;
}

.tabsText {
  color: var(--subHeadingColor);
  font-size: var(--fontSizeSmall);
  font-weight: var(--fontWeightMedium);
}

.activeBox {
  border-bottom: var(--borderBlue);
}

.activeText {
  color: var(--textBold);
  font-weight: var(--fontWeightBold);
}


@media screen and (max-width: 767px) {
  .heading {
    font-size: var(--fontSizeXXlarge);
  }
}