.headerContainer {
  padding: var(--gapMedium);
  background-color: var(--bodyBg);
  border-bottom: var(--borderLight);
}

.headingText {
  font-family: var(--fontFamilyRegular);
  font-size: var(--fontSizeHeading);
  font-weight: var(--fontWeightBold);
  color: var(--textBold);
}

.titleText {
  font-family: var(--fontFamilyRegular);
  font-size: var(--fontSizeSmall);
  font-weight: var(--fontWeightMedium);
  color: var(--subHeadingColor);
  font-style: italic;
}

@media screen and (max-width: 767px) {
  .headingText {
    font-size: var(--fontSizeXlargeMedium);
  }
}
