.mainContainer {
  background-color: var(--blueBg);
}

.headerContainer {
  padding: var(--gapMedium);
  background-color: var(--bodyBg);
  border-bottom: var(--borderLight);
}

.headingText {
  font-family: var(--fontFamilyRegular);
  font-size: var(--fontSizeHeading);
  font-weight: var(--fontWeightBold);
  color: var(--textBold);
}

.descriptionText {
  font-family: var(--fontFamilyRegular);
  font-size: var(--fontSizeSmall);
  font-weight: var(--fontWeightMedium);
  color: var(--subHeadingColor);
  font-style: italic;
}

.tableContainer {
  border: var(--borderLight);
  border-radius: var(--gapXSmall);
  flex: 1;
  width: var(--fullWidth);
  flex-direction: column;
}

.textStyles {
  padding-left: var(--paddingSmall);
}

.serialHeader {
  padding-left: var(--paddingSmall);
}
