.ant-pagination::after {
  content: none;
}

.ant-pagination-prev,
.ant-pagination-next {
  margin-top: -12px;
}

iframe#webpack-dev-server-client-overlay {
  display: none !important;
}

.ant-table-expanded-row-fixed, .table-layout {
  min-height: 500px; 
}