.ant-pagination::after {
  content: none;
}

.ant-pagination-prev,
.ant-pagination-next {
  margin-top: -12px;
}

iframe#webpack-dev-server-client-overlay {
  display: none !important;
}

.ant-table-expanded-row-fixed,
.table-layout {
  min-height: var(--height_50vh, 50vh);
}

.ant-table-column-has-sorters {
  background-color: var(--bodyBg2) !important;
}

.ant-table-wrapper td.ant-table-column-sort {
  background-color: var(--bodyBg) !important;
}

.ant-table-column-has-sorters {
  background-color: #fafafa !important;
}

.ant-table-wrapper td.ant-table-column-sort {
  background-color: #ffffff !important;
}


.ant-table-body {
  overflow: auto !important;
}

