.btn {
  display: flex;
  padding: 17px var(--paddingLarge);
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background-color: var(--greenBtnBg);
  min-height: var(--btnHeight);
  color: var(--btnText);
  font-weight: var(--fontWeightBold);
  &:hover{
      background-color: var(--greenBtnBg) !important;
      color: var(--btnText) !important;
  }
}

.btn[disabled] {
  background-color: var(--disableBtn) !important;
  color: var(--btnText) !important;
}
