.btn {
  display: flex;
  padding: 17px var(--paddingSmall, 16px);
  justify-content: center;
  align-items: center;
  gap: var(--gapXSmall, 8px);
  border-radius: var(--radiusLg, 8px);
  background-color: var(--greenBtnBg, #04AF55);
  min-height: var(--btnHeight, 56px);
  color: var(--btnText, #FBFCFF);
  font-weight: var(--fontWeightBold, 600);
  &:hover {
    background-color: var(--greenBtnBg, #04AF55) !important;
    color: var(--btnText, #FBFCFF) !important;
  }
}

.btn[disabled] {
  background-color: var(--disableBtn, #B1B3B5) !important;
  color: var(--btnText, #FBFCFF) !important;
}
