.btn {
  display: flex;
  padding: 17px var(--paddingSmall, 16px);
  justify-content: center;
  align-items: center;
  gap: var(--gapXSmall, 8px);
  border-radius: var(--radiusLg, 8px);
  background-color: var(--greenBtnBg, #04af55);
  min-height: var(--btnHeight, 56px);
  color: var(--btnText, #fbfcff);
  font-weight: var(--fontWeightBold, 600);
  &:hover {
    background-color: var(--greenBtnBg, #04af55) !important;
    color: var(--btnText, #fbfcff) !important;
  }
}

.whiteBgBtn {
  background-color: var(--bodyBg, #fff);
  color: var(--black1, #000);
  font-weight: var(--fontWeightBold, 500);
  &:hover {
    background-color: var(--bodyBg, #fff) !important;
    color: var(--black1, #000) !important;
    border-color: var(--ltGrey5, #d9d9d9) !important;
  }
}

.btn[disabled] {
  background-color: var(--disableBtn, #b1b3b5) !important;
  color: var(--btnText, #fbfcff) !important;
}

@media (max-width: 511px) {
  .btn {
    min-height: var(--height_44, 44px);
  }
}
