.columnHeading {
  color: var(--subHeadingColor);
  font-size: var(--fontSizeExtraSmall);
  font-weight: var(--fontWeightBold);
  max-width: 200px;
}

.boldText {
  font-size: var(--fontSizeSmall);
  font-weight: var(--fontWeightBold);
}

.capitalize {
  text-transform: capitalize;
}

.linkStyles {
  text-decoration: underline;
  color: var(--linkColor);
}

.tableCellStyles {
  max-width: 200px;
}

.textEllipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: var(--fullWidth);
}

.centreStatusContainer {
  display: flex;
  gap: var(--gapXSmall);
}

.switchBgColor {
  background-color: var(--active2) !important;
}

.dropdownMenuItem {
  padding: var(--paddingSmall, 16px);
  font-size: var(--fontSizeSmall, 14px);
  font-weight: var(--fontWeightMedium, 500);
}

.editIcon,
.moreIcon {
  cursor: pointer;
  display: flex;
}

.disableIcon {
  cursor: not-allowed;
  display: flex;
}

.twoImageStyle {
  gap: var(--gapMedium);
}

.twoImageContainer {
  width: var(--width_120);
}

.isRequiredStar {
  color: var(--requiredStarColor);
}

.statusContainer_inactive {
  background-color: var(--ltGreyBg);
}

.statusContainer_success {
  background-color: var(--lightGreenBg);
}

.statusContainer_inactive {
  background-color: var(--ltGreyBg);
}

.statusContainer_success {
  background-color: var(--lightGreenBg);
}

.statusContainer_failed {
  background-color: var(--lightRedBg);
}

.statusContainer_progress {
  background-color: var(--lightBlueBg2);
}

.defaultStatusStyles {
  font-size: 12px;
  line-height: 18px;
}

.statusText_inactive {
  color: var(--textBold);
}

.statusText_success {
  color: var(--greenText);
}

.statusText_failed {
  color: var(--redText);
}

.statusText_progress {
  color: var(--blueText);
}

.chipContainer {
  padding: var(--paddingXXXSmall, 2px) var(--paddingExtraSmall, 8px)
    var(--paddingXXXSmall, 2px) var(--paddingExtraSmall, 8px);
  border-radius: var(--paddingSmall, 16px);
}

.selectedRow {
  background-color: var(--blue6Bg);
}

.errorTimeInput {
  border: var(--borderError) !important;
}

.centerContent {
  display: flex;
}

.sortingArrowContainer {
  min-width: var(--width_20);
  display: flex;
  align-items: center;
  gap: var(--gapXXSmall);
  cursor: pointer;
}
.checkBoxStyle {
  padding-left: var(--paddingExtraSmall);
  display: flex;
  align-items: center;
  gap: var(--gap_20);
  align-content: center;
  flex: 1;
}

.statusBox {
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radiusXLg);
  padding: var(--paddingXXXSmall) var(--paddingExtraSmall);
  width: fit-content;
}

.customCentreStyles {
  font-size: var(--fontSizeSmall);
  color: var(--ltGrey7);
  font-weight: var(--fontWeightMedium);
}
