.columnHeading {
  color: var(--subHeadingColor);
  font-size: var(--fontSizeSmall);
  font-weight: var(--fontWeightBold);
}

.boldText {
  font-weight: var(--fontWeightBold);
}

.capitalize {
  text-transform: capitalize;
}

.tableCellStyles {
  max-width: 200px;
}

.textEllipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.centreStatusContainer {
  display: flex;
  gap: var(--gapXSmall);
}

.switchBgColor {
  background-color: var(--active2) !important;
}

.dropdownMenuItem {
  padding: var(--paddingSmall, 16px);
  font-size: var(--fontSizeSmall, 14px);
  font-weight: var(--fontWeightMedium, 500);
}

.editIcon,
.moreIcon {
  cursor: pointer;
}

.twoImageStyle {
  gap: var(--gapMedium);
}
