.columnHeading {
  color: var(--subHeadingColor);
  font-size: var(--fontSizeSmall);
  font-weight: var(--fontWeightBold);
  max-width: 200px;
}

.boldText {
  font-size: var(--fontSizeSmall);
  font-weight: var(--fontWeightBold);
}

.capitalize {
  text-transform: capitalize;
}

.tableCellStyles {
  max-width: 200px;
}

.textEllipsis {
  max-width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.centreStatusContainer {
  display: flex;
  gap: var(--gapXSmall);
}

.switchBgColor {
  background-color: var(--active2) !important;
}

.dropdownMenuItem {
  padding: var(--paddingSmall, 16px);
  font-size: var(--fontSizeSmall, 14px);
  font-weight: var(--fontWeightMedium, 500);
}

.editIcon,
.moreIcon {
  cursor: pointer;
  display: flex;
}

.twoImageStyle {
  gap: var(--gapMedium);
}

.twoImageContainer {
  width: var(--width_120);
}

.isRequiredStar {
  color: var(--requiredStarColor);
}

.statusContainer_success {
  background-color: var(--lightGreenBg);
}

.statusContainer_failed {
  background-color: var(--lightRedBg);
}

.statusContainer_progress {
  background-color: var(--lightBlueBg2);
}

.defaultStatusStyles {
  font-size: 12px;
  line-height: 18px;
}

.statusText_success {
  color: var(--greenText);
}

.statusText_failed {
  color: var(--redText);
}

.statusText_progress {
  color: var(--blueText);
}

.chipContainer {
  padding: var(--paddingXXXSmall, 2px) var(--paddingExtraSmall, 8px)
    var(--paddingXXXSmall, 2px) var(--paddingExtraSmall, 8px);
  border-radius: var(--paddingSmall, 16px);
}

.selectedRow {
  background-color: var(--blue6Bg);
}

.errorTimeInput {
  border: var(--borderError);
}
.centerContent {
  display: flex;
}

.sortingArrowContainer {
  min-width: var(--width_20);
  display: flex;
  align-items: center;
  gap: var(--gapXXSmall);
  cursor: pointer;
}
