.subHeading {
  font-weight: bold;
  color: var(--grey);
  font-size: var(--fontSizeXlarge);
}

.heading {
  font-weight: var(--fontWeightMedium);
  color: var(--grey);
  font-size: var(--fontSizeNormal);
  margin-bottom: var(--radiusMd);
}
